/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    cursor: default;
    user-select: none;
}

.btn {
    height: 3em;
    max-width: 25ch;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    border: none;
    font-size: 1.1em;
    background-color: black;
    color: white;
    text-decoration: none;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
}

.header_btns:link, .header_btns:visited, .header_btns:hover, .header_btns:active {
    background-color: white;
    color: black !important;
    border: none;
    text-decoration: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    body  {
        font-size: 1.5rem;
    }
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}



/*------------- screns with small heights (COL-LG-) ------------------------*/
@media screen and (max-height: 992px) {

    body  {
        font-size: 1rem !important;
    }
    
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.3em; /* Different from other pages to allow scroll */
    position: fixed; /* Different from other pages to allow scroll */
    width: 100%;
    z-index: 1;
    font-size: 1em;
    border-bottom: 0.1em solid white;
}

/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    header {
        font-size: 1.5em;
        position: relative; /* Different from other pages to allow scroll */
        width: initial; /* Different from other pages to allow scroll */
    }
}

/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    header {
        font-size: 1.1em;
        justify-content: center;
        border-bottom: none;
        padding-bottom: 1em;
    }
}

/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    
    .navbar {
        position: relative;
        color: white;
        margin: 0;
        padding: 0;
        z-index: 9;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }

        .navbar h1 {
            font-size: 1.5em;
            text-align: center;
            margin: 0;
            padding: 0;
        }

    .navbar-collapse {
        background-color: white;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 7.5em;
    }

    .active a { 
        color: #E8B130 !important;
    }
                
    .custom-toggler .navbar-toggler {
        position: relative;
    }

    #menu-button-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        position: relative;
        margin: 0;
        padding: 0;
        color: white !important;
        font-size: 3em;
        min-height: 5ch;
    }

    #menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
        cursor:pointer;
    }

    .navbar-nav {
        background-color: black;
        padding: 0;
        width: 100%;
    }

        .nav-item {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            color: white;
        }

            .nav-item a {
                color: white;
                min-height: calc( 100svh / 6 );
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                font-size: 2em;
            }

            .nav-item a:hover {
                color: #E8B130;
            }

        .nav-link {
            color: white;
        }

/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .navbar h1 {
        padding: 0.5em;
    }

    .navbar-collapse {
        position: relative;
        top: initial;
        background-color: black;
    }

    #menu-button-container {
        display: none;
    }

    .navbar-nav {
        border-top: 0.1em solid white;
    }

    .nav-item {
        max-width: 20%;
    }

    .nav-item a {
        min-height: 5ch;
        font-size: inherit;
    }

}

/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    .navbar-nav {
        border: solid white 0.1em;
    }
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    padding: 20ch 1ch 10ch 1ch;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.title_photo {
    height: 9em;
    font-size: 2.8em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding: 0.2em;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: scroll;
    background-clip: border-box;
    background-blend-mode: multiply;
}

.title {
    border-top: solid #e8b130;
    border-bottom: solid #e8b130;
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
}

    #about p {
        color: white;
        font-size: 1.2em;
        margin: 2em 0;
        border-radius: 1em;
        padding: 1em 0.25em;
        max-width: 80ch;
    }

#about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0;
}

        #intro {
            background-image: url('marketing_photos/2026-Moonbow_Trip-2.jpg');
            background-size: contain;
        }

        #perspective {
            background-image: url('marketing_photos/Entropy.jpg');
            background-size: contain;
        }

        #storytelling {
            background-image: url('marketing_photos/20190718-Folkmoot-15.jpg');
            background-size: contain;
        }

        #vision {
            background-image: url('marketing_photos/stephen_sparkler.jpg');
            background-size: contain;
        }

        #meaning {
            background-image: url('marketing_photos/MEJO_489-20260209_Update-15.jpg');
            background-size: contain;
        }

        #community {
            background-image: url('marketing_photos/20240831-Marching_Bands-1.jpg');
            background-size: contain;
        }

    .header-social_media {
        margin: 1em 0 3em 0;
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
        align-items: center;
        border-radius: 0.5em;
        background-color: white;
    }

        .header-social_media i {
            padding: 0.1em;
            color: black;
            font-size: 3em;
            margin: 0.2em;
        }

        .header-social_media a {
            text-align: center;
        }
    
        .header-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: black;
        }
        
        .header-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    main {
        padding-top: initial;
    }

    #about p {
        background-color: initial;
        color: white;
        height: initial;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
    }

}

/*------------- MEDIUM SCREENS (COL-MD-) ------------------------*/
@media screen and (min-width: 768px) {

    main {
        padding-top: initial;
    }

    #about p {
        background-color: initial;
        color: white;
        height: initial;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
    }

    .title {
        margin: 2em 0;
    }

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    color: white;
    position: fixed;
    bottom: 0;
    left: 5vw;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e8b130;
    border-radius: 10px;
    box-shadow: 0 0 10px #e8b130;
    transition: box-shadow 0.8s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 20px #e8b130;
  }

/*---------------------- PRINTING -------------------------------*/
@media print {
    body {
        display: none !important;
    }
}