/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    cursor: default;
    user-select: none;
}

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
    background-color: white;
    color: black;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    .btn:link, .btn:visited, .btn:active {
        background-color: white;
        color: black;
    }

    .btn:hover {
        background-color: white;
        color: #E8B130;
    }

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1vh 0 0 0;
    text-align: center;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-bottom: white 0.1em solid;
    z-index: 10;
    background-color: black;
    width: 100vw;
    color: white;
}

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 100%;
        align-content: space-around;
    }

        #sig-box {
            display:block;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        header h1 {
            color: white;
            font-size: 2em;
            padding: 0.2em;
            margin-top: 0.2em;
            border-top: 0.01em solid white;
        }

    #header-back {
        background-color: black;
        position: absolute;
        bottom: 60%;
        left: 3%;
        border: white solid 0.1em;
        color: white;
    }

    #schedule-btn {
        background-color: black;
        position: absolute;
        bottom: 60%;
        right: 3%;
        border: white solid 0.1em;
        color: white;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
        #header-back {
            color: white;
        }
    
        #schedule-btn {
            color: white;
        }
    
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.form_container {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#general_inquiries {
    padding: 2em 1em 1em;
    background-image: url("Creations/Burst.jpg");
    background-color: hsla(100, 100%, 100%, 0..1);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    text-align: center;
}

#experience {
    margin: 3em 0 3em 0;
    background-image: url("Portraits/20190929-Marcus_Richardson-2.jpg");
    background-color: hsla(0, 0%, 0%, 0.8);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    text-align: center;
}

#your_session {
    margin: 0 0 2em 0;
    background-color: black;
}

.form_section {
    padding: 2em 0.7em 2em 0.7em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

    .form_section p {
        padding: 0;
    }

.section_title {
    background-color: hsla(100, 100%, 100%, 0.1);
    text-align: center;
    padding: 0.25em;
    color: white;
}

    .section_subtitle {
        padding: 0.1em 0;
        border-bottom: #e8b130 solid 0.1em;
    }

.section_of_form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.form_label {
    margin-top: 1em;
}

.form_text {
    padding: 0.5em 0;
}

.question_group {
    padding: 0;
    margin: 0;
}

.question {
    text-align: left;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    margin: 0;
}

    .portrait_question {
        text-transform: uppercase;
        font-size: 2em;
        color: white;
        background-color: hsla(100, 100%, 100%, 0.1);
        border-bottom: #e8b130 solid 0.25em;
        padding: 0.5em;
        margin: 0.5em;
        text-align: center;
    }

.dropdown {
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
        
    .dropdown::-webkit-scrollbar {
        width: 0.5em;
    }
    
        .dropdown::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Scrollbar thumb */
        .dropdown::-webkit-scrollbar-thumb {
            background-color: #e8b130;  /* Darker color for the scrollbar thumb */
            border-radius: 0.1em;  /* Rounded edges for scrollbar */
        }

input[type="date"],
input[type="time"],
input[type="text"],
input[type="email"],
textarea,
select {
    padding: 0.5em;
    border: 0.2em solid white;
    margin-bottom: 1em;
}

.session_details {
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0 0 3em 0;
    background-color: hsla(100, 100%, 100%, 0.05);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

    .session_title {
        height: 8em;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        border: white solid 0.1em;
        border-radius: 0.5em;
        padding: 1em;
        margin: 0.5em;
        color: white;
        text-align: center;
        cursor: pointer;
        background-color: hsla(0, 0%, 0%, 0.5);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
    }

        #traditional_pic {
            background-image: url('https://drscdn.500px.org/photo/1102445725/q%3D80_m%3D600/v2?sig=9c99ac22b2cf21556b10833f87c36b351862488f0e70894e0a56d80701f3c8a4');
            background-position: 50% 100%;
        }

        #grad_pic {
            background-image: url('https://drscdn.500px.org/photo/1102445754/q%3D80_m%3D600/v2?sig=903df1ea03888252e2aaa027f6ef94a78b44bc44519a0b78ffa484f75d62efc0');
            background-position: 50% 100%;
        }

        #mini_pic {
            background-image: url('https://drscdn.500px.org/photo/1102445740/q%3D80_m%3D600/v2?sig=054c89e1d78c790b232ddd355befc27d66201851f6e6deb20b52a646152fee2a');
            background-position: 50% 100%;
        }

        #headshot_pic {
            background-image: url(Portraits/20190923-Mallory_Storrie-1.jpg);
            background-position: 50% 100%;
        }

        #full_prof_pic {
            background-image: url(Portraits/20240831-Marching_Bands-1.jpg);
            background-position: 50% 100%;
        }

        #talent_pic {
            background-image: url('https://drscdn.500px.org/photo/1102445744/q%3D80_m%3D600/v2?sig=701c04df074b9d2cf29f73514fac9619120a0664de536960e87564eb7b7d397a');
            background-position: 50% 80%;
        }

        #event_pic {
            background-image: url(Portraits/20240406-J_Creek_Cloggers-2.jpg);
            background-position: 50% 100%;
        }

    .session_description {
        color: white;
        font-size: 1.2em;
        padding: 1em;
        text-align: center;
    }

    .session_info {
        list-style: none;
        padding: 1em 0 0 0;
        text-align: center;
    }

        .session_info li {
            line-height: 2em;
        }

        .discount_credit {
            font-style: italic;
            margin: 1em 0 0 0.5em;
            border-top: solid 0.1em #e8b130;
            padding: 0.5em;
        }

        .section_specific {
            color: #e8b130;
        }

        .event_options {
            margin: 1em 0 1em 0;
        }

    .travel_zones {
        padding: 0;
        text-align: center;
        margin: 0 0 1em 0;
    }

        .zone_cont {
            padding: 0;
            margin: 1em 0 1em 0;
        }

            .zone_title {
                color: #e8b130;
                font-weight: bold;
                margin: 0;
            }

            .zone_description {
                margin: 0;
            }

    #session_submit {
        height: 2em;
        margin-top: 1em;
        font-size: 1.3em;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    padding: 5em 1.5em 5em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: black;
}

    footer p {
        padding: 0;
    }

    .searchbar {
        margin: 2em 0 2em 0;
    }
    
    .searchbar input[type=text] {
        padding: 0.3em 1em 0.3em 1em;
        font-size: 1em;
        background-color: black;
        color: white;
        border: 0.1em dashed white;
        border-radius: 1em;
    }

    .footer-social_media {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding: 0.5em;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

        .footer-social_media .home i {
            color: black;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    padding: 3em 1.5em 3em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: black;
    color: white;
}

    footer p {
        padding: 0;
    }

    .footer-social_media {
        max-width: 70%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding: 0.5em auto;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }
        
        #footer_home {
            color: white;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    .footer-social_media {
        max-width: 40%;
    }    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    .footer-social_media {
        max-width: 30%;
    }
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    footer {
        padding: 2em 1em;
    }    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    .footer-social_media {
        max-width: 20%;
    }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

::-webkit-scrollbar {
    width: 0.5em;
    background: black; 
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #e8b130;
    background-image: -webkit-linear-gradient(
        20deg, 
        rgba(255,255,255,.8) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255,255,255,.8) 50%, 
        rgba(255,255,255,.8) 75%, 
        transparent 75%
    );
    border-radius: 0.5em;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #d9a020;
}

/*---------------------- PRINTING -------------------------------*/
@media print {
    body {
        display: none !important;
    }
}