/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    background-color: black;
    color: white;
}

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
    background-color: white;
    color: black;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: black;
    color: white;
    border: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    .btn:link, .btn:visited, .btn:active {
        background-color: white;
        color: black;
    }

    .btn:hover {
        background-color: white;
        color: #E8B130;
    }

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1vh 0 1vh 0;
    text-align: center;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-bottom: white 0.2em solid;
    z-index: 10;
    background-color: black;
}

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 100%;
        align-content: space-around;
    }

        #sig-box {
            display:block;
        }

            .sig {
                position: relative;
                max-height: 4em;
                margin: 0 0 1vh 0;
            }

            #back-sig {
                position: absolute;
                top: 0.3em;
                left: 2.3em;
                z-index: -1;
                height: 4.01em;
            }

        h1 {
            color: white;
            background-color: black;
            padding: 0.2em;
            border-radius: 0 0 1em 0.2em;
            border-bottom: solid #e8b130 0.15em;
        }

    .header-social_media {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 0;
        align-content: center;
        font-size: 1.1em;
        border-right: 1px white solid;
    }
    
        .header-social_media i {
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
            padding-right: 1.5vw;
            padding-left: 1.5vw;
            color: white;
            font-size: 1.5em;
            margin: 0.2em 0.5em;
        }
      
        .header-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .header-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

        .home i {
            background-color: white;
            color: black;
            border-radius: 100%;
            padding: 0.2em;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-between;
    background-color: white;
    height: 30em;
}

    .image {    
        border: white solid 0.2em;
        border-radius: 0.3em;
        height: 20em;
        max-width: 100%;
        background-color: black;
        background-image: url("blur.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-attachment: scroll;
        background-clip: border-box;
        box-shadow: 0 0 1em 1em hsla(100, 100%, 100%, 0.2);
    }

        .image img {
            position: absolute;
            bottom: 0%;
            right: 0%;
            max-width: 69%;
            background-color: hsla(100, 100%, 100%, 1);
            padding: 0.3em;
            border-radius: 1em 0 0 0;
            opacity: 33%;
        }

    .container_box {
        background-color: white;
        color: black;
        padding: 0;
    }

        .title {
            font-size: 2.5em;
            font-style: italic;
            text-align: center;
        }

        .description {
            font-size: 1.2em;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    background-color: black;
    border-top: white solid 0.2em;
    padding: 5em 1.5em 5em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
}

    footer p {
        padding: 0;
    }

    .searchbar {
        margin: 2em 0 1em 0;
    }
    
    .searchbar input[type=text] {
        padding: 0.3em 1em 0.3em 1em;
        font-size: 1em;
        background-color: black;
        color: white;
        border: 0.1em dashed white;
        border-radius: 1em;
    }

    .footer-social_media {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding-left: 0.5vh;
            padding-right: 0.5vh;
            padding-top: 1.5vw;
            padding-bottom: 1.5vw;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

        .footer-social_media .home i {
            color: black;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}