/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    cursor: default;
    user-select: none;
}

.btn {
    height: 3em;
    max-width: 25ch;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    border: none;
    font-size: 1.1em;
    background-color: black;
    color: white;
    text-decoration: none;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
}

.header_btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    font-size: 1.5em;
    background-color: white;
    color: black;
    text-decoration: none;
}

.header_btn:link, .header_btn:visited, .header_btn:hover, .header_btn:active {
    background-color: white;
    color: black;
    border: none;
    text-decoration: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    body  {
        font-size: 1.5rem;
    }
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}



/*------------- screns with small heights (COL-LG-) ------------------------*/
@media screen and (max-height: 992px) {

    body  {
        font-size: 1rem !important;
    }
    
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1em 0 0 0;
    text-align: center;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-bottom: white 0.1em solid;
    z-index: 10;
    width: 100vw;
    color: white;
    background-color: black;
}

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-around;
        background-color: black;
    }

        #sig-box {
            display:flex;
            justify-content: center;
            align-items: center;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        header h1 {
            color: white;
            font-size: 2em;
            padding: 0.75em;
            border-top: 0.01em solid white;
            margin: 0;
        }

        #md-title {
            display: none;
        }

    #header-back {
        background-color: black;
        position: absolute;
        bottom: 83%;
        left: 5%;
        color: white;
        cursor: pointer;
    }

    #header-insta {
        background-color: black;
        position: absolute;
        bottom: 60%;
        left: 5%;
        color: white;
    }

    #schedule-btn {
        background-color: black;
        position: absolute;
        bottom: 83%;
        right: 5%;
        color: white;
    }

    #general-btn {
        background-color: black;
        position: absolute;
        bottom: 60%;
        right: 5%;
        color: white;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {  

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

        #sig-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        header h1 {
            color: white;
            font-size: 2em;
            padding: 0.75em;
            border-top: 0.01em solid white;
        }

        #md-title {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            font-size: 1.6em;
            margin-top: 1em;
            max-width: 35%;
            height: 3em;
        }

    .header_btn {
        background-color: white !important;
        color: black !important;
        border-radius: 0.25em;
        padding: 0.4em;
        font-size: 1.5em;
    }

    #header-back {
        bottom: 25%;
        right: initial;
        left: 1em;
    }

    #header-insta {
        bottom: 25%;
        right: initial;
        left: 3em;
    }

    #schedule-btn {
        bottom: 25%;
        right: initial;
        left: 5em;
    }

    #general-btn {
        bottom: 25%;
        right: initial;
        left: 7.1em;
    }
}

/*------------- MEDIUM SCREENS (COL-MD-) ----------------------*/

@media screen and (min-width: 768px) {
    #header-right {
        align-items: center;
        justify-content: flex-end;
        align-content: center;
        padding: 0.1em;
    }

    #sm-title {
        display: none;
    }

    #md-title {
        order: 1;
        display: initial;
        color: white;
        padding: 0.2em;
        margin-top: 0;
        border-top: none;
    }

    #sig-box {
        order: 2;
        padding-left: 1em;
        margin-left: 1em;
        border-left: solid #e8b130 0.1em;
    }

    #header-right h2 {
        padding: 0;
        margin: 0;
    }

    #text {
        display: none;
    }

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: white solid 0.2em;
    width: 100vw;
}

.banner {
    background-color: white;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
}

.cont {
    display: block;
    width: 100%;
    padding: 0.5em;
}

    .image {
        width: 100%;
        height: 20em;
        max-height: 50vh;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: padding-box;
        background-attachment: scroll;
        background-clip: border-box;
        padding: 0;
        cursor: pointer;
    }

    .container_box {
        color: white;
        display: none;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: space-around;
        border: none;
    }

    /* ---- Popup (Background Image Instead of <img>) ----------------------- */
    .popup {        
        display: none;
        position: fixed;
        flex-flow: row wrap;
        justify-items: center;
        align-content: center;
        inset: 0;
        z-index: 10;
        padding: 0;
        margin: 0 auto;
        background-color: black;
    }

        .popup .image {
            margin-bottom: 1em;
            cursor: default;
        }

        .popup .container_box {
            background-color: white;
            padding: 0.5em;
            border-radius: 1em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            max-width: 70ch;
        }

        .popup .title {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            font-size: 1.3em;
            padding: 0.3em;
            color: black;
            font-weight: bold;
            margin: 0 0 1em 0;
            min-width: 20ch;
        }

            .popup .title a {
                background-color: black;
                color: white;
                padding: 0 1em;
                margin: 0;
                border-radius: 0.2em;
            }

            .title {
                display: none;
            }
            
            /* Hidden for now. I need to edit the descriptions to be much shorter. 3 sentences max.
        .popup .description {
            display: block;
            font-size: 1.1em;
            padding: 0.5em;
            color: black;
            margin: 0;
        }
        
            .description {
                display: none;
            }

            */

        .close {
            position: absolute;
            top: 0;
            right: 0.5em;
            font-size: 3em;
            padding: 0;
            cursor: pointer;
            color: white;
        }

    .filter-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0.5em;
        padding: 0.5em;
        margin: 0.5em 0;
    }
    
        .filter-button {
            padding: 0.5em 1.5em;
            background-color: white;
            border: none;
            border-radius: 0.5em;
            color: black;
            cursor: pointer;
            font-size: 1em;
            font-weight: bold;
        }
        
        .filter-button:hover {
            background-color: #e8b130;
        }

    /* Back to Top Button */
    #backToTop {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
        color: black;
        border: black solid 0.08em;
        padding: 0;
        width: 2em;
        height: 2em;
        font-size: 2em;
        border-radius: 1em 0 0 0;
        cursor: pointer;
        transition: opacity 0.3s ease;
        z-index: 8;
    }

    #backToTop:hover {
        background-color: white;
    }

    /* Purchase Prints */
    #Purchase_Prints {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        color: black;
        border: none;
        padding: 0;
        width: 15ch;
        height: 2.5em;
        font-size: 1.5em;
        border: solid black 0.1em;
        border-radius: 0 1em 0 0;
        cursor: pointer;
        z-index: 8;
        text-decoration: none;
    }



/* -------- screens with small heights  ----------------------*/
    @media screen and (max-height: 700px) {
        
        .cont::-webkit-scrollbar {
            width: initial;
        }
        
        .cont::-webkit-scrollbar-track {
            background: black;
            display: initial;
        }
        
        .cont::-webkit-scrollbar-thumb {
            background: #e8b130;
            border-radius: 10px;
        }
        
        .cont::-webkit-scrollbar-thumb:hover {
            box-shadow: 0 0 20px #e8b130;
        }

    }


/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .popup .title {
        min-width: 50ch;
    }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    .container_box {
        border-right: solid hsla(42, 80%, 55%, 0.4) 0.2em;
        border-top: solid hsla(42, 80%, 55%, 0.4)  0.2em;
    }
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    padding: 3em 1.5em 3em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: black;
    color: white;
}

    footer p {
        padding: 0;
    }

    .footer-social_media {
        max-width: 70%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding: 0.5em auto;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }
        
        #footer_home {
            color: white;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    .footer-social_media {
        max-width: 40%;
    }    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    .footer-social_media {
        max-width: 30%;
    }
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    footer {
        padding: 2em 1em;
    }    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    .footer-social_media {
        max-width: 20%;
    }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e8b130;
    border-radius: 10px;
    box-shadow: 0 0 10px #e8b130;
    transition: box-shadow 0.8s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 20px #e8b130;
  }

/*---------------------- PRINTING -------------------------------*/
@media print {
    body {
        display: none !important;
    }
}

.form-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

    .form-container h1 {
        color: black;
    }

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: black;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
    color: black;
}

    /* PHOTOS IN ALPHABETICAL ORDER 
    
        #Image_Title {
            background-image: url("LINK");
        }
    
    */
 
    #A_Sea_of_Carolina_Blue {        
        background-image: url("https://drscdn.500px.org/photo/1105613711/q%3D80_m%3D600/v2?sig=f289271fbc606a8c9046f082529e39d5d805a14ee7f9239bf7269fa9ae380652");
    }

    #A_Strike_Above {
        background-image: url("https://drscdn.500px.org/photo/1110429461/q%3D80_m%3D600/v2?sig=b77dba99fb786ae89fdd7189626912faba2d6bd1bc2fc6088df7225eb7137ee3");
    }
    
    #Ars_and_Scientia {
        background-image: url("https://drscdn.500px.org/photo/1105613712/q%3D80_m%3D600/v2?sig=c52d0786e6955598dbb7668137e04e73a608a0aab56154b2541915c5ec99e121");
    }

    #Ascending_Fryingpan_Lookout {
        background-image: url("https://drscdn.500px.org/photo/1105613713/q%3D80_m%3D600/v2?sig=07ff1b73d1bb467d9647ca0f6be4357de7334fe31d9e9534822ce71d5eb2b761");
    }

    #Beat_Duke {
        background-image: url("https://drscdn.500px.org/photo/1105613714/q%3D80_m%3D600/v2?sig=cac05129c5d73491f34f8a02bbab8ab7ea71303488bcfad79b5dbee78b0b6d61");
    }

    #Blue_Cross {
        background-image: url("https://drscdn.500px.org/photo/1105613715/q%3D80_m%3D600/v2?sig=7a88483ce16b010c2dc8f6c5c6034b71b039155a96541fe7d1e87a5227f6e4eb");
    }

    #Bran_Castle {
        background-image: url("https://drscdn.500px.org/photo/1105613716/q%3D80_m%3D600/v2?sig=b375b1d3ee4c8629f6485968958376cd3d80342e8257322ca316d99cb0974416");
    }

    #Brâncovenesc_Fresco {
        background-image: url("https://drscdn.500px.org/photo/1105613717/q%3D80_m%3D600/v2?sig=2385c96ffa57073aa031b97003b21c115011d55ceac09a0da9188cfdec1b392d");
    }

    #Burst {
        background-image: url("https://drscdn.500px.org/photo/1105613718/q%3D80_m%3D600/v2?sig=06787b3b0dbdc3393f004d93549c75ae8ab910f80fad61581239e4062b5d55c4");
    }

    #Cascade_of_Time {
        background-image: url("https://drscdn.500px.org/photo/1105613719/q%3D80_m%3D600/v2?sig=6ad38ca9bd00868b940d38317a19890c566dbcbe7a599558c3e0c6fc750c0a8b");
    }

    #Cascade_of_Wisps {
        background-image: url("https://drscdn.500px.org/photo/1114668900/q%3D80_m%3D600/v2?sig=6560554705011a479bf444f5dd1da0bb054a93e8849a5c7895f4e8545f970d16");
    }

    #Courtyard_from_Above {
        background-image: url("https://drscdn.500px.org/photo/1105613720/q%3D80_m%3D600/v2?sig=30a51769e98195eb7bcf614ef25934832fecb8cfb32c9510c1dff436cdf3dab0");
    }

    #Dados_Legacy {
        background-image: url("https://drscdn.500px.org/photo/1105613721/q%3D80_m%3D600/v2?sig=fe2bc594dfc10aa7675d11fb0c7c7dce9e3ea695813af51a89c8c2a708ec2beb");
    }

    #Dandelion_Dreams {
        background-image: url("https://drscdn.500px.org/photo/1105613722/q%3D80_m%3D600/v2?sig=932ba814cdcf059cfb51833a38b423af5dd17954f99b01b588f0d8a9d51d9015");
    }

    #Echoes_of_the_Crash {
        background-image: url("https://drscdn.500px.org/photo/1105613723/q%3D80_m%3D600/v2?sig=d3b694c826c4702039d2fb5e3af9bab25b86571c1d567ccc7cf1a3a842ea5ec2");
    }

    #Endurance {
        background-image: url("https://drscdn.500px.org/photo/1105613724/q%3D80_m%3D600/v2?sig=a4137b09e250d5f2167874b86b268c884deb2825fd48bdee7a41244af0c4c5a6");
    }

    #Energy {
        background-image: url("https://drscdn.500px.org/photo/1105613725/q%3D80_m%3D600/v2?sig=1c9e1859213ce0ad6df4eb8969980ee9812b8c7454d583c47dd670dda26d4af0");
    }

    #Ethereal_Cascade_of_Light {
        background-image: url("https://drscdn.500px.org/photo/1105613726/q%3D80_m%3D600/v2?sig=b0d5fe13bb33e9a8760bd6532bb3309b15c719ff93cce50249601577f36766b8");
    }

    #Final_Descent {
        background-image: url("https://drscdn.500px.org/photo/1105613727/q%3D80_m%3D600/v2?sig=6c73566557dd1b30923c5724a4e3ba21481578cea877b6a99e6f841aa1c3edcd");
    }

    #Freedoms_Fortress {
        background-image: url("https://drscdn.500px.org/photo/1105613728/q%3D80_m%3D600/v2?sig=555bcc78ebc6f61c2573c6b82f1196b2b9a6c76a5213f59abaaa86e5df3228ed");
    }

    #Front_Facade_of_Sinaia_Monastery {
        background-image: url("https://drscdn.500px.org/photo/1105613729/q%3D80_m%3D600/v2?sig=82c0d618d3a7a472d164818b8925bddc2ac497b4ac7e83c69e5e5bbc1980f4ef");
    }

    #Golden_Rapids {
        background-image: url("https://drscdn.500px.org/photo/1105613730/q%3D80_m%3D600/v2?sig=b5b168998e97c02fd23438ac4dfb63cb009fb676da2312f4c42a5a635d86b0b3");
    }

    #Groundbreaking_Ceiling {
        background-image: url("https://drscdn.500px.org/photo/1105613731/q%3D80_m%3D600/v2?sig=05bdc99a64eb0d5867571ed5fd984d1e71527b3c8e1aa28859b510f67382d66c");
    }

    #Illumination {
        background-image: url("https://drscdn.500px.org/photo/1105613733/q%3D80_m%3D600/v2?sig=c1f5e5660c4f426664b008ac2390b22611b756cd1c6d926d4e2e0b59974b8ba7");
    }

    #Intergalactic_Explosion {
        background-image: url("https://drscdn.500px.org/photo/1105613734/q%3D80_m%3D600/v2?sig=ecb8825f199d129d7319674eaec92f715c0ee827abc2d516621ce7ad5a30e830");
    }

    #Lighting_Strike {
        background-image: url("https://drscdn.500px.org/photo/1110429462/q%3D80_m%3D600/v2?sig=9032d2d53c7f18380116d735e5d61a14017f519e657fb89920a2adc158f4787f");
    }

    #Locks_of_Love {
        background-image: url("https://drscdn.500px.org/photo/1105613735/q%3D80_m%3D600/v2?sig=62ef19d74f2bad6572c328a3085a46b23b0345d9b3811af6f95c778fe1306a67");
    }

    #Lucky {
        background-image: url("https://drscdn.500px.org/photo/1110429465/q%3D80_m%3D600/v2?sig=183b1bc46aba6235900c3994ea6bfa5d33bdc3eabb25d74ad38e3a49459823f1");
    }

    #Lucky_Strike {
        background-image: url("https://drscdn.500px.org/photo/1110429464/q%3D80_m%3D600/v2?sig=0b50ea9dc1ea2d3f9e1c1367b5d0b6e7f8bd992f86b7174242c09e036126cdd6");
    }

    #Lucky_Strike_Water_Tower {
        background-image: url("https://drscdn.500px.org/photo/1110429463/q%3D80_m%3D600/v2?sig=6bb9c41b662ef5424707013ee1d1045d3e653f8425680b85a10efaf6bd890b9e");
    }

    #Majesty {
        background-image: url("https://drscdn.500px.org/photo/1105613736/q%3D80_m%3D600/v2?sig=24ea67ca39668de09a26bdf83b66af6046246ba8a0df77752aced4f7c0ce0794");
    }

    #Make_History_Every_Day {
        background-image: url("https://drscdn.500px.org/photo/1110429467/q%3D80_m%3D600/v2?sig=7c6be8a9d10630c687a01cce7fdc298247ce50c8f49b3bbcecb7a66bc271c15a");        
    }

    #Mathias_Rex {
        background-image: url("https://drscdn.500px.org/photo/1105613737/q%3D80_m%3D600/v2?sig=1cc36ab68dc33a3275b4ef41dc71b7d3326b456bbbad0b9210783fe34f32b182");
    }

    #Modern_Devotion {
        background-image: url("https://drscdn.500px.org/photo/1105613738/q%3D80_m%3D600/v2?sig=86bbe2533c106381141e316da9ec98298f21f223f534c6f2dc2a2d093b4d012d");
    }

    #Neon_Swan_in_Pink_Glow {
        background-image: url("https://drscdn.500px.org/photo/1105613739/q%3D80_m%3D600/v2?sig=795ec713cfb0136980c1b047ee9ec484ae26ff99af0171ef034d35f91a9e41cf");
    }

    #Queen_Palm_in_the_Sky {
        background-image: url("https://drscdn.500px.org/photo/1114668901/q%3D80_m%3D600/v2?sig=272675b191086328785bbc1e8bff5204ec63d96c58dda9ca311e469955f04811");
    }

    #Radiant_Burst {
        background-image: url("https://drscdn.500px.org/photo/1105613740/q%3D80_m%3D600/v2?sig=60abf4f6af1c220d1f60e2a03d22b17bd8d7fb0b4f78f4d1e76b26bf0d10fde2");
    }

    #Reaching_for_the_Sky {
        background-image: url("https://drscdn.500px.org/photo/1105613741/q%3D80_m%3D600/v2?sig=728e4597fafb7a48be1e4b9170d838ad8693ec43ed1677c564851a0ef90b8d7a");
    }

    #Regal_Presence {
        background-image: url("https://drscdn.500px.org/photo/1105613742/q%3D80_m%3D600/v2?sig=0595c414b3e0251fff134b98f0dfcff08e8bd914e44b24fe7135b1eb6c126d24");
    }

    #Roof_of_Sinaia_Monastery {
        background-image: url("https://drscdn.500px.org/photo/1105613743/q%3D80_m%3D600/v2?sig=6624e8de669d2cce994c89c8b28ecf9ac9a0c0e61eab84e98472c8b9749a27e1");
    }

    #Shadowed_Path {
        background-image: url("https://drscdn.500px.org/photo/1105613744/q%3D80_m%3D600/v2?sig=2f52b68985b064b21b47e4c71c4a4bd46ae2403557709117d39de374f1f06454");
    }

    #Shadows_of_the_Impaler {
        background-image: url("https://drscdn.500px.org/photo/1105613745/q%3D80_m%3D600/v2?sig=b9e4edfeefc1da0be41b2ced4f8b905c038ecd81a29d54b05ec5085a664f7631");
    }

    #Slither {
        background-image: url("https://drscdn.500px.org/photo/1105613746/q%3D80_m%3D600/v2?sig=39a37874740c6f2b3853af2c4adfe1bbaff56f12c14c5d8f4e020e241fb5791b");
    }

    #Sorcerers_Spell {
        background-image: url("https://drscdn.500px.org/photo/1105613747/q%3D80_m%3D600/v2?sig=9ec06b464e83abf1b0115a7c1af180a902638655e0d67fa995ba3d0c11bad2be");
    }

    #South_Building {
        background-image: url("https://drscdn.500px.org/photo/1105613748/q%3D80_m%3D600/v2?sig=064ffe7d603a5304f19d41560978ef953a268000908843491b81cc07fe33eacd");
    }

    #Spire_of_the_Old_Sinaia_Church {
        background-image: url("https://drscdn.500px.org/photo/1105613749/q%3D80_m%3D600/v2?sig=1ff89bff95d55f4d02e738475f2377c604b0a451031ed5ec4323417aade75090");
    }

    #Television_Beacon {
        background-image: url("https://drscdn.500px.org/photo/1105613750/q%3D80_m%3D600/v2?sig=83c421bbdddcff48759357242a87eec1c2108cfbad5b1fc428467f92b1f6ae90");
    }

    #The_Bell_Tower {
        background-image: url("https://drscdn.500px.org/photo/1105613751/q%3D80_m%3D600/v2?sig=3e440cee9e710adb0430edf2072862fc17c5f8b4d5922d3c59f508722160be98");
    }

    #The_Hospitality_of_Abraham {
        background-image: url("https://drscdn.500px.org/photo/1105613752/q%3D80_m%3D600/v2?sig=8f9727787fb893a3b1aee78c1c29279f6539e566e3a34f2f6693f82505fb7066");
    }

    #The_Old_Well_in_Radiance {
        background-image: url("https://drscdn.500px.org/photo/1105613753/q%3D80_m%3D600/v2?sig=656896923ca5d81447f02a7c8df2bf2f9a50219c91b65707666c9bb7652a1bdc");
    }

    #Tower_of_Bran_Castle {
        background-image: url("https://drscdn.500px.org/photo/1105613755/q%3D80_m%3D600/v2?sig=95320840e2458357e0f5864936b56c90b2590dafbff388ca659534ac35adfece");
    }

    #Towers_of_the_Holy_Trinity_Church {
        background-image: url("https://drscdn.500px.org/photo/1105613756/q%3D80_m%3D600/v2?sig=b90c629eb21324b605bc6533f8f5f85371e50f9bd747d470bb80659a2f571549");
    }

    #Traces {
        background-image: url("https://drscdn.500px.org/photo/1114668902/q%3D80_m%3D600/v2?sig=b42cdf57b90bfb54c5270d68200aea4f0d8010f2acd67c59402240b8222370ca");
    }

    #Traversing_the_Night {
        background-image: url("https://drscdn.500px.org/photo/1114668903/q%3D80_m%3D600/v2?sig=d70f61e7037a6268e48571f6f84e903e0dec8b59846b31be420a03c46e38262f");
    }

    #Turning_Tide {
        background-image: url("https://drscdn.500px.org/photo/1114668904/q%3D80_m%3D600/v2?sig=dcc691d7fc72c9ade45fba2e275a1f792eb525c285ad47b2fda93a301c70c109");
    }

    #View_Through_History {
        background-image: url("https://drscdn.500px.org/photo/1105613757/q%3D80_m%3D600/v2?sig=bf4785fd4e7583f6c3ac7e78dccc99082c7ddf47a5ce53508456bd14fb37ea25");
    }

    #White_Gold {
        background-image: url("https://drscdn.500px.org/photo/1105613758/q%3D80_m%3D600/v2?sig=6c4c55c0ac3b54fcffb2bf5b336f9e139b73ccd640bd75a80eebda4eb73c7404");
    }

    #Winding_Road {
        background-image: url("https://drscdn.500px.org/photo/1105613759/q%3D80_m%3D600/v2?sig=a0c41e0f4e9652198b099543fd5232c4aad1d83c09a915ed147e5917ad1c1fc8");
    }

    #Winters_Lookout {
        background-image: url("https://drscdn.500px.org/photo/1105613760/q%3D80_m%3D600/v2?sig=ef45c0209a7e9d4fe3557c1210e4c8e673fb2e4636433f13cc8d10c189a940fe");
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}