/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    cursor: default;
    user-select: none;
}

.btn {
    height: 3em;
    max-width: 25ch;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    border: none;
    font-size: 1.1em;
    background-color: black;
    color: white;
    text-decoration: none;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
}

.header_btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    font-size: 1.5em;
    background-color: white;
    color: black;
    text-decoration: none;
}

.header_btn:link, .header_btn:visited, .header_btn:hover, .header_btn:active {
    background-color: white;
    color: black;
    border: none;
    text-decoration: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    body  {
        font-size: 1.5rem;
    }
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}



/*------------- screns with small heights (COL-LG-) ------------------------*/
@media screen and (max-height: 992px) {

    body  {
        font-size: 1rem !important;
    }
    
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1em 0 0 0;
    text-align: center;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-bottom: white 0.1em solid;
    z-index: 10;
    width: 100vw;
    color: white;
    background-color: black;
}

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-around;
        background-color: black;
    }

        #sig-box {
            display:flex;
            justify-content: center;
            align-items: center;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        header h1 {
            color: white;
            font-size: 2em;
            padding: 0.75em;
            border-top: 0.01em solid white;
            margin: 0;
        }

        #md-title {
            display: none;
        }

    #header-back {
        background-color: black;
        position: absolute;
        bottom: 83%;
        left: 5%;
        color: white;
        cursor: pointer;
    }

    #header-insta {
        background-color: black;
        position: absolute;
        bottom: 60%;
        left: 5%;
        color: white;
    }

    #schedule-btn {
        background-color: black;
        position: absolute;
        bottom: 83%;
        right: 5%;
        color: white;
    }

    #general-btn {
        background-color: black;
        position: absolute;
        bottom: 60%;
        right: 5%;
        color: white;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {  

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

        #sig-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        header h1 {
            color: white;
            font-size: 2em;
            padding: 0.75em;
            border-top: 0.01em solid white;
        }

        #md-title {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            font-size: 1.6em;
            margin-top: 1em;
            max-width: 35%;
            height: 3em;
        }

    .header_btn {
        background-color: white !important;
        color: black !important;
        border-radius: 0.25em;
        padding: 0.4em;
        font-size: 1.5em;
    }

    #header-back {
        bottom: 25%;
        right: initial;
        left: 1em;
    }

    #header-insta {
        bottom: 25%;
        right: initial;
        left: 3em;
    }

    #schedule-btn {
        bottom: 25%;
        right: initial;
        left: 5em;
    }

    #general-btn {
        bottom: 25%;
        right: initial;
        left: 7.1em;
    }
}

/*------------- MEDIUM SCREENS (COL-MD-) ----------------------*/

@media screen and (min-width: 768px) {
    #header-right {
        align-items: center;
        justify-content: flex-end;
        align-content: center;
        padding: 0.1em;
    }

    #sm-title {
        display: none;
    }

    #md-title {
        order: 1;
        display: initial;
        color: white;
        padding: 0.2em;
        margin-top: 0;
        border-top: none;
    }

    #sig-box {
        order: 2;
        padding-left: 1em;
        margin-left: 1em;
        border-left: solid #e8b130 0.1em;
    }

    #header-right h2 {
        padding: 0;
        margin: 0;
    }

    #text {
        display: none;
    }

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: white solid 0.2em;
    width: 100vw;
}

.banner {
    background-color: white;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
}

.cont {
    display: block;
    width: 100%;
    padding: 0.5em;
}

    .image {
        width: 100%;
        height: 20em;
        max-height: 50vh;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: padding-box;
        background-attachment: scroll;
        background-clip: border-box;
        padding: 0;
        cursor: pointer;
    }

    .container_box {
        color: white;
        display: none;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: space-around;
        border: none;
    }

    /* ---- Popup (Background Image Instead of <img>) ----------------------- */
    .popup {        
        display: none;
        position: fixed;
        flex-flow: row wrap;
        justify-items: center;
        align-content: center;
        inset: 0;
        z-index: 10;
        padding: 0;
        margin: 0 auto;
        background-color: black;
        border: white solid 0.1em;
    }

        .popup .image {
            margin-bottom: 1em;
            cursor: default;
        }

        .popup .container_box {
            background-color: white;
            padding: 0.5em;
            border-radius: 1em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            max-width: 70ch;
        }

        .popup .title {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            font-size: 1.3em;
            padding: 0.3em;
            color: black;
            font-weight: bold;
            margin: 0 0 1em 0;
            min-width: 20ch;
        }

            .popup .title a {
                background-color: black;
                color: white;
                padding: 0 1em;
                margin: 0;
                border-radius: 0.2em;
            }

            .title {
                display: none;
            }
            
            /* Hidden for now. I need to edit the descriptions to be much shorter. 3 sentences max.
        .popup .description {
            display: block;
            font-size: 1.1em;
            padding: 0.5em;
            color: black;
            margin: 0;
        }
        
            .description {
                display: none;
            }

            */

        .close {
            position: absolute;
            top: 0;
            right: 0.5em;
            font-size: 3em;
            padding: 0;
            cursor: pointer;
            color: white;
        }

    .filter-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0.5em;
        padding: 0.5em;
        margin: 0.5em 0;
    }
    
        .filter-button {
            padding: 0.5em 1.5em;
            background-color: white;
            border: none;
            border-radius: 0.5em;
            color: black;
            cursor: pointer;
            font-size: 1em;
            font-weight: bold;
        }
        
        .filter-button:hover {
            background-color: #e8b130;
        }

    /* Back to Top Button */
    #backToTop {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
        color: black;
        border: black solid 0.08em;
        padding: 0;
        width: 2em;
        height: 2em;
        font-size: 2em;
        border-radius: 1em 0 0 0;
        cursor: pointer;
        transition: opacity 0.3s ease;
        z-index: 8;
    }

    #backToTop:hover {
        background-color: white;
    }

    /* Purchase Prints */
    #Purchase_Prints {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        color: black;
        border: none;
        padding: 0;
        width: 15ch;
        height: 2.5em;
        font-size: 1.5em;
        border: solid black 0.1em;
        border-radius: 0 1em 0 0;
        cursor: pointer;
        z-index: 8;
        text-decoration: none;
    }



/* -------- screens with small heights  ----------------------*/
    @media screen and (max-height: 700px) {
        
        .cont::-webkit-scrollbar {
            width: initial;
        }
        
        .cont::-webkit-scrollbar-track {
            background: black;
            display: initial;
        }
        
        .cont::-webkit-scrollbar-thumb {
            background: #e8b130;
            border-radius: 10px;
        }
        
        .cont::-webkit-scrollbar-thumb:hover {
            box-shadow: 0 0 20px #e8b130;
        }

    }


/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .popup .title {
        min-width: 50ch;
    }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    .container_box {
        border-right: solid hsla(42, 80%, 55%, 0.4) 0.2em;
        border-top: solid hsla(42, 80%, 55%, 0.4)  0.2em;
    }
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    padding: 3em 1.5em 3em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: black;
    color: white;
}

    footer p {
        padding: 0;
    }

    .footer-social_media {
        max-width: 70%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding: 0.5em auto;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }
        
        #footer_home {
            color: white;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    .footer-social_media {
        max-width: 40%;
    }    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    .footer-social_media {
        max-width: 30%;
    }
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    footer {
        padding: 2em 1em;
    }    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    .footer-social_media {
        max-width: 20%;
    }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e8b130;
    border-radius: 10px;
    box-shadow: 0 0 10px #e8b130;
    transition: box-shadow 0.8s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 20px #e8b130;
  }

/*---------------------- PRINTING -------------------------------*/
@media print {
    body {
        display: none !important;
    }
}

.form-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

    .form-container h1 {
        color: black;
    }

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: black;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
    color: black;
}
 

    /* PHOTOS IN ALPHABETICAL ORDER - numbers placed last */
 
    #A_Winters_Snack {        
        background-image: url("https://drscdn.500px.org/photo/1105614827/q%3D80_m%3D600/v2?sig=0e672128b40872f3817f4c782649c6bf4849ba643b99fe2c1f3d1bba75c6c1a9");
    }

    #Adventure {
        background-image: url("https://drscdn.500px.org/photo/1105614828/q%3D80_m%3D600/v2?sig=0ad606a3e1cdc0ca9558142e48825bc326bed943ff02be48864927d7dc6bff36");
    }
    
    #American_Bald_Eagle {
        background-image: url("https://drscdn.500px.org/photo/1105614829/q%3D80_m%3D600/v2?sig=17e06a07feff044d1ebd807846f13a86e31ab6620cf94a83816160bad648a0a2");
    }
    
    #Appalachian_Allure {
        background-image: url("https://drscdn.500px.org/photo/1105614830/q%3D80_m%3D600/v2?sig=c3481e87efeb77a2162d6e8431f4539a60cdea6adaa867665fa3de6641fe8e83");
    }
    
    #Autumn_Majesty {
        background-image: url("https://drscdn.500px.org/photo/1105614831/q%3D80_m%3D600/v2?sig=99c775c14f8b4fc2a977210c48b4fbaead92ce7a26a6fc26de21c24a53996f43");
    }
    
    #Autumns_Mosaic {
        background-image: url("https://drscdn.500px.org/photo/1105614815/q%3D80_m%3D600/v2?sig=1093faaea6d5a0917ad3171881514850d506af41f0ab72b19bfaf27a420887b6");
    }
    
    #Baraj_Valea_Drăganului {
        background-image: url("https://drscdn.500px.org/photo/1105614813/q%3D80_m%3D600/v2?sig=4c492738ae567c425433ef24cd597fb5095cf5ddf6d9740fb4a627798cdec9b4");
    }
    
    #Bear_in_the_Clouds {
        background-image: url("https://drscdn.500px.org/photo/1105614814/q%3D80_m%3D600/v2?sig=2187bd5a698624566081fed6edbbd31c530ab1bf1321231eda06b798b8a10660");
    }
    
    #Beauty_and_Grace {
        background-image: url("https://drscdn.500px.org/photo/1105614816/q%3D80_m%3D600/v2?sig=f976451950936747dd1e601765d124490b0b7f296ea4c1d23171f21e8f9345e5");
    }
    
    #Beneath_the_Icy_Glow {
        background-image: url("https://drscdn.500px.org/photo/1105614817/q%3D80_m%3D600/v2?sig=0639ba0965e30ed6a1e910bca525ee3f0d41a05479e274175b77b0bca536ad61");
    }
    
    #Black_and_White {
        background-image: url("https://drscdn.500px.org/photo/1105614818/q%3D80_m%3D600/v2?sig=10cd859fb6e345e0df6870da084327ffe2acd08b7f633bc4427ec08185047c9b");
    }
    
    #Black_Balsam {
        background-image: url("https://drscdn.500px.org/photo/1105614819/q%3D80_m%3D600/v2?sig=20e8f39300d482516c49a3854c89d8c280d70fc5c4fdc4ca6592f26468bdb634");
    }
    
    #Blooming_Mountain_Laurel {
        background-image: url("https://drscdn.500px.org/photo/1105614820/q%3D80_m%3D600/v2?sig=0755b403e595cf83c9e1a530dd9704e9b26ff3b7ca640547aa904e4cf42a7e11");
    }
    
    #Brașov_from_Above {
        background-image: url("https://drscdn.500px.org/photo/1105614821/q%3D80_m%3D600/v2?sig=54b9c4de16ab1c9f07605a38b2773a673f48bea56a9336be08f3fcfd9215aa72");
    }
    
    #Căpițe {
        background-image: url("https://drscdn.500px.org/photo/1105614822/q%3D80_m%3D600/v2?sig=03ddb0145f30252ae877b173fcd4b57f2d24c5e92f69a7e6690987339bcbcde5");
    }
    
    #Castaway {
        background-image: url("https://drscdn.500px.org/photo/1105614823/q%3D80_m%3D600/v2?sig=815fd8946bd24201edf4567f13f15a3cd43503baccd010992cb561db03665820");
    }
    
    #Celestial_Convergence {
        background-image: url("https://drscdn.500px.org/photo/1105614824/q%3D80_m%3D600/v2?sig=419103c01b69398ce77dae9b0d14394a7894e24911038e100eb60b42d4b19a11");
    }
    
    #Crowned_in_Mist {
        background-image: url("https://drscdn.500px.org/photo/1105280088/q%3D80_m%3D600/v2?sig=9c5b38010bd3b1ff18d1ac748b895c316d6d8477ee2dcbbbbf47bd85e4912634");
    }
    
    #Cumberland {
        background-image: url("https://drscdn.500px.org/photo/1105280253/q%3D80_m%3D600/v2?sig=e6496bb56ce492de7db158bdfc65c20713e21669b42f6d456e1244e9dcdeb038");
    }
    
    #Curiosity {
        background-image: url("https://drscdn.500px.org/photo/1105280089/q%3D80_m%3D600/v2?sig=73ddc5af01954f84f02db3c7771d2fa8077e1581c5d8f6a968cc9fb03b1c171e");
    }
    
    #Curious_Encounter {
        background-image: url("https://drscdn.500px.org/photo/1105280090/q%3D80_m%3D600/v2?sig=b9e5ab5af0629e37aa86b248602dc92beeebc04acd444320b8929ab65c031e53");
    }
    
    #Dry_Falls {
        background-image: url("https://drscdn.500px.org/photo/1105280091/q%3D80_m%3D600/v2?sig=b6fae3fad19cb2e6189936aaeb46ce10fbe0ce4a28b919a997d7fcf3897ae859");
    }
    
    #Easters_Blessing {
        background-image: url("https://drscdn.500px.org/photo/1105280092/q%3D80_m%3D600/v2?sig=e0311a73761f9e56d5c1e427cd2224f45c7b486dfafc593c138dbc33ccc18787");
    }

    #Edge_of_the_Storm {
        background-image: url("https://drscdn.500px.org/photo/1105280093/q%3D80_m%3D600/v2?sig=b0a4534bf56c8d81d062e95fc1bd64909cf2525490c019a036febd19b0db8ca5");
    }
    
    #Emerald_Eyes {
        background-image: url("https://drscdn.500px.org/photo/1105280094/q%3D80_m%3D600/v2?sig=7799296ee5ac592178713356e9c718b8044573efa95383d6504e6976aa86f963");
    }
    
    #Emergence {
        background-image: url("https://drscdn.500px.org/photo/1105280302/q%3D80_m%3D600/v2?sig=906b781cffcf7f33ccda858d6e2982338bfda5388aeee75c4d5f82f9e39916e0");
    }
    
    #Feathered_Serenity {
        background-image: url("https://drscdn.500px.org/photo/1105280303/q%3D80_m%3D600/v2?sig=7a6cd833c3fa7f186d43f243cdf3d4989fb5ce6668cba3dbb6c6f97526001c1b");
    }
    
    #Fiery_Sky {
        background-image: url("https://drscdn.500px.org/photo/1105280304/q%3D80_m%3D600/v2?sig=114fd423a81ea31a09bd8e5cfa33170bd9d87415306cacd7563594e28909c78b");
    }
    
    #Frosted_Slope {
        background-image: url("https://drscdn.500px.org/photo/1105280306/q%3D80_m%3D600/v2?sig=37875070a3344a8e9aca63dbaa01bff5d1378230f2e667b295a9dad76d19198e");
    }
    
    #Fryingpans_Warmth {
        background-image: url("https://drscdn.500px.org/photo/1105280307/q%3D80_m%3D600/v2?sig=5621303a616dc8322af5d87ac6bb824007d0e8985343ceeacbf219591377f5fa");
    }
    
    #Galapagos_Sea_Lion {
        background-image: url("https://drscdn.500px.org/photo/1105280308/q%3D80_m%3D600/v2?sig=236b6d7a65bd6b9e2dae797561b885827ea7b3d7edd2a18d522232605d49bf89");
    }
    
    #Golden_Afterglow {
        background-image: url("https://drscdn.500px.org/photo/1105280313/q%3D80_m%3D600/v2?sig=59be7952eee21953bf62957d554b01ffd896ac03879dde365e6b41419a52b202");
    }
    
    #Graceful_Glide {
        background-image: url("https://drscdn.500px.org/photo/1105280309/q%3D80_m%3D600/v2?sig=664795cda5be7d4ffc4f5655295ac274ce6dfd4ad39f00b0b2c858e2d18e4396");
    }
    
    #Gradient_Horizon {
        background-image: url("https://drscdn.500px.org/photo/1105280310/q%3D80_m%3D600/v2?sig=9cb3d4bd383a30dc605757f4a31d2b5b3cc0c4fb9c7f917cf42e8205709e2924");
    }
    
    #Hidden_Surprise {
        background-image: url("https://drscdn.500px.org/photo/1105280312/q%3D80_m%3D600/v2?sig=d4a3d196c4804d7005febd6f243894088980f096ad5b2157d5be4ce04e1e5f5b");
    }
    
    #Highland_Whispers {
        background-image: url("https://drscdn.500px.org/photo/1105613652/q%3D80_m%3D600/v2?sig=f4f018c6c9bc832819f42fdf55a252443529cdf7f7a8cd9188e8082cc7567e13");
    }
    
    #Illuminated_Faith {
        background-image: url("https://drscdn.500px.org/photo/1105280311/q%3D80_m%3D600/v2?sig=88e3152a8a586ab8bbf3e6b2800763ce22f03c3334c4b388abb83ce838357abf");
    }
    
    #Kordofan_Giraffe_Profile {
        background-image: url("https://drscdn.500px.org/photo/1105280320/q%3D80_m%3D600/v2?sig=33a7f505f65a506ffaaf7b4ca8e87c786931f3220c7f179c2c1749b6e89845c6");
    }
    
    #Lake_Drăgan {
        background-image: url("https://drscdn.500px.org/photo/1105613653/q%3D80_m%3D600/v2?sig=1d94ec3cb9d958e8e4868725dcb576461a4ca7678e6baf1581d299adc3574428");
    }
    
    #Legend_of_the_Dogwood {
        background-image: url("https://drscdn.500px.org/photo/1105613654/q%3D80_m%3D600/v2?sig=d01a70ab2910ec8c73414130dc5f74694f7b6c31a18e6960c0651189a8c4289a");
    }
    
    #Locals {
        background-image: url("https://drscdn.500px.org/photo/1105613655/q%3D80_m%3D600/v2?sig=939cbb6b656d1bb408e3324db10b225dca0dbd353ac5b4f7158bcc2f48b51605");
    }
    
    #Lunar_Majesty {
        background-image: url("https://drscdn.500px.org/photo/1105613656/q%3D80_m%3D600/v2?sig=fababc830875e4b8a57e8bfd5f739697e172b32ab59ee584257c2eb317223085");
    }
    
    #Lush_Horizons {
        background-image: url("https://drscdn.500px.org/photo/1105613657/q%3D80_m%3D600/v2?sig=39a221a81efde01e8d0c522d81d24d4823f3506e9cba9ca04670cafed95b5783");
    }

    #Magnolia_Blossoms {
        background-image: url("https://drscdn.500px.org/photo/1110429466/q%3D80_m%3D600/v2?sig=6cc2da5abfe253c4f52f5df88f40949a50d91897d110a8f8c8d00c3fe250d598");
    }
    
    #Majestic_Repose {
        background-image: url("https://drscdn.500px.org/photo/1105613658/q%3D80_m%3D600/v2?sig=432da3f80e69b66898011eca274859b72a90fa23c49414ac2b37c9ab74fd2cad");
    }
    
    #Megahorn {
        background-image: url("https://drscdn.500px.org/photo/1105613659/q%3D80_m%3D600/v2?sig=be22f697bf80aa4d4f48b6ba71960d7dcb9047cf2a81279af03c6aee5ad4dc3d");
    }
    
    #Mooney_Falls_in_Motion {
        background-image: url("https://drscdn.500px.org/photo/1105614825/q%3D80_m%3D600/v2?sig=b427bf42a99487d81598d1d259df037620d005988b34b7cad53ab540e247d66a");
    }
    
    #Mount_Pisgah {
        background-image: url("https://drscdn.500px.org/photo/1105613660/q%3D80_m%3D600/v2?sig=53ca025eafb3d90cc473be6c6b539d2371684ef09001e509ea347c54cd9ed661");
    }
    
    #Navigating_the_Waves {
        background-image: url("https://drscdn.500px.org/photo/1105613661/q%3D80_m%3D600/v2?sig=a8b89e73e3cd54c722f49851f8ace28de80562d5999563bb9daa58424ff2b073");
    }
    
    #Pathway_to_the_Smoky_Horizon {
        background-image: url("https://drscdn.500px.org/photo/1105613662/q%3D80_m%3D600/v2?sig=1f04b1b5d2d806f1b91b970488be2ea5b2e2cbd97d830f93b90e0538bc15ebb7");
    }
    
    #Peak_Autumn_Vibrance {
        background-image: url("https://drscdn.500px.org/photo/1105615248/q%3D80_m%3D600/v2?sig=52646cfb466eb612823f61d153426d3cf102771295a1ecb7e447c3e528888459");
    }
    
    #Perched_on_Tradition {
        background-image: url("https://drscdn.500px.org/photo/1105613664/q%3D80_m%3D600/v2?sig=2d99330f50aa254f2410a4e0a52573a48c34a3a181fbd2d0a156752d0e8f4db0");
    }

    #Pre-Eclipse_Full_Moon {
        background-image: url("https://drscdn.500px.org/photo/1110429468/q%3D80_m%3D600/v2?sig=210a647c9daa2cb3b94c0d336901b856d4a583d19b97595671180e6d106e45e5");
    }
    
    #Purple_Stripe_Jellyfish {
        background-image: url("https://drscdn.500px.org/photo/1105613665/q%3D80_m%3D600/v2?sig=8289e27311c3bb4b8d0ebe0aadc5217a314f4494fc6d7db6162fd8091aa1cacd");
    }
    
    #Rainbows_Embrace {
        background-image: url("https://drscdn.500px.org/photo/1105613666/q%3D80_m%3D600/v2?sig=067f021598adc64c6e580b03db9ff0e23f11da725929e5791886f7aa113df0ef");
    }
    
    #Red-backed_Shrike {
        background-image: url("https://drscdn.500px.org/photo/1105613667/q%3D80_m%3D600/v2?sig=5bd35aaed65946f134fc2e15bb55c8ba1371a0c2610fc67c284c35d3b2fbfedc");
    }
    
    #Refreshing_Cascade {
        background-image: url("https://drscdn.500px.org/photo/1105613668/q%3D80_m%3D600/v2?sig=4b19296428f3f9719c230f7b2719565bbbe9a08447df81b5c7f24bf34cdbf1ce");
    }
    
    #Restful_Moment {
        background-image: url("https://drscdn.500px.org/photo/1105613669/q%3D80_m%3D600/v2?sig=53948062da726e1c44cc9f075b82c756d48d726f955dd7336d7dee777a793e6c");
    }
    
    #Resting_Majesty {
        background-image: url("https://drscdn.500px.org/photo/1105613670/q%3D80_m%3D600/v2?sig=3f6309bd7536163046de9a86732178266a725d45cc1c06691c7ad15c4b461287");
    }
    
    #Retro_Glow {
        background-image: url("https://drscdn.500px.org/photo/1105613671/q%3D80_m%3D600/v2?sig=4b6c2bde352fa86a0420604afa22bcec1f9c9e5fe90c77c161eae108121e50fb");
    }

    #Return {
        background-image: url("https://drscdn.500px.org/photo/1110429469/q%3D80_m%3D600/v2?sig=16ed83a7bf6ea28a9beeeba89fbc8f338ee04d4e7f921bce491f643284f40e68");
    }
    
    #Ripples_of_Dawn {
        background-image: url("https://drscdn.500px.org/photo/1105613672/q%3D80_m%3D600/v2?sig=20ba74024dde935ed22720e75c85f471b45c6538a83478955226d29638f25731");
    }
    
    #Rivers_Rhythm {
        background-image: url("https://drscdn.500px.org/photo/1105613673/q%3D80_m%3D600/v2?sig=10b7c0a87e4c32ef97f8313f8cef939374a7fead3f64a4a658824f2572e7665b");
    }
    
    #Roaring_Waters {
        background-image: url("https://drscdn.500px.org/photo/1105613674/q%3D80_m%3D600/v2?sig=af1a28b92c6465f4f3995bbdb5bb9b97a0b7bd7bde5d74f7807e7831160ac75f");
    }

    #Semipalmated_Plover {
        background-image: url("https://drscdn.500px.org/photo/1105613675/q%3D80_m%3D600/v2?sig=d2fd3093043c180a70c9dd775e815102ca87b3d41f7e2019d7a3f539126642e9");
    }
    
    #Shaded_Rest {
        background-image: url("https://drscdn.500px.org/photo/1105613676/q%3D80_m%3D600/v2?sig=03c80485c4547714505b293f23ba5ebc21fd2858e8991687191635e025c1d59a");
    }

    #Smooth_Sailing {
        background-image: url("https://drscdn.500px.org/photo/1105613677/q%3D80_m%3D600/v2?sig=2290944bbd7eeb59b553f16d3f7186b7489d968806844cfdbbe94a13645f61d2");
    }
    
    #Solitude {
        background-image: url("https://drscdn.500px.org/photo/1105613678/q%3D80_m%3D600/v2?sig=8ff7084408878e45dc0e2c09208e9ea0d9ad4f7469a191c214513f155c844893");
    }
    
    #Summer_Sentinel {
        background-image: url("https://drscdn.500px.org/photo/1105613679/q%3D80_m%3D600/v2?sig=e2ee1a3287380b632f56c5bbf9c049317211be23a634aed4e322c34db851424e");
    }
    
    #Summer_Serenity {
        background-image: url("https://drscdn.500px.org/photo/1105613680/q%3D80_m%3D600/v2?sig=d716d15b6f932a56407fcd613f222e0862be26dbf0bf166276271a61a514136e");
    }
    
    #Sunbathing {
        background-image: url("https://drscdn.500px.org/photo/1105613681/q%3D80_m%3D600/v2?sig=47061f663cb92d37d2990ce3bab932c154f3a6cfa8294b13ffa0b25f17645a47");
    }
    
    #Sunburst {
        background-image: url("https://drscdn.500px.org/photo/1105613682/q%3D80_m%3D600/v2?sig=358898cb3970c7c0f82f0f8afdfeed4fa0b0b9ff457044831b13d29ccec5d435");
    }
    
    #Sunflower_Serenade {
        background-image: url("https://drscdn.500px.org/photo/1105613683/q%3D80_m%3D600/v2?sig=3e673ba211dda202283829f411cc8e888dae5add8260a4449ecabe0b83683c0c");
    }
    
    #Sunset_over_the_Blue_Ridge {
        background-image: url("https://drscdn.500px.org/photo/1105613684/q%3D80_m%3D600/v2?sig=67845d8cf2e4a9b1c8326403ed33d0dc55068776d9ca12bce3b8d7d52e8c2598");
    }
    
    #Sunsets_Icy_Veil {
        background-image: url("https://drscdn.500px.org/photo/1105613685/q%3D80_m%3D600/v2?sig=8be9b6276ff775d98f5649d1655f2b8c597cee9d48f2b1249837d556beae3f9e");
    }

    #Sweet_Like_Honey {
        background-image: url("https://drscdn.500px.org/photo/1110429470/q%3D80_m%3D600/v2?sig=aa6ae86e33a13a6104f7e6f4b116f57b267c1bf873f170dd7db24632d21a555e");
    }
    
    #Tapestry_of_Churches {
        background-image: url("https://drscdn.500px.org/photo/1105613686/q%3D80_m%3D600/v2?sig=798db8e64927b4dbf68e8978e2bbbbab952afd4e0aed542e5d1abf693ae2ecb6");
    }
    
    #The_M-Shaped_Falls {
        background-image: url("https://drscdn.500px.org/photo/1105613687/q%3D80_m%3D600/v2?sig=d30a446b7e56485e18f98ae94a276b7a279b114d83eff479f081b56a1f6ce3aa");
    }

    #The_Ravenel_Bridge {
        background-image: url("https://drscdn.500px.org/photo/1105613688/q%3D80_m%3D600/v2?sig=3e07574f7c00d7a5a97329ec0ba1ec4176d18c37a56247f133554d48382be1f1");
    }
    
    #The_Watchful_Grazer {
        background-image: url("https://drscdn.500px.org/photo/1105613689/q%3D80_m%3D600/v2?sig=cf7009681b33604460ffab4030e8b792126725b3ba0033fe848fdf520168307c");
    }
    
    #Towers_Frame {
        background-image: url("https://drscdn.500px.org/photo/1105613690/q%3D80_m%3D600/v2?sig=32a866e969b637059c135b7f7532da86ad17187c382b214bcd1a9d2ef79c0adf");
    }
    
    #Tranquility {
        background-image: url("https://drscdn.500px.org/photo/1105613691/q%3D80_m%3D600/v2?sig=3332f49be202970299d5453ed2bb193f3b6120764695cef49c71bbbd51b4cdf4");
    }
    
    #Turkish_Cap_Lilies {
        background-image: url("https://drscdn.500px.org/photo/1105613692/q%3D80_m%3D600/v2?sig=6dbde7294c95732c62f031d2f1377ae980db9269190260c2565ecd57f584e637");
    }
    
    #Twilights_Guardian {
        background-image: url("https://drscdn.500px.org/photo/1105613693/q%3D80_m%3D600/v2?sig=ffda74ef5b3e4aba134a8a57beab8f5b619a2e96dc15a07255ae407bfc13f3a9");
    }
    
    #Underwater_Ballet {
        background-image: url("https://drscdn.500px.org/photo/1105613694/q%3D80_m%3D600/v2?sig=55c0108031336c7b836585b617c4d135fcb41278ac4781aa384afe42d2cace4d");
    }
    
    #Whimsy_in_the_Marsh {
        background-image: url("https://drscdn.500px.org/photo/1105614826/q%3D80_m%3D600/v2?sig=8678ab7d7df2158527e6cd143d742d488c0d194769b388a60a05dc122d365315");
    }

    #Williamsburg_Sheep {
        background-image: url("https://drscdn.500px.org/photo/1105613695/q%3D80_m%3D600/v2?sig=4eefe79e798807f7f9e497664c59f7ac5c7a64b06c17a2d8cb6f19900eb3b118");
    }
    
    #Winter_Twilight {
        background-image: url("https://drscdn.500px.org/photo/1105613696/q%3D80_m%3D600/v2?sig=4917ed57416d225fa5efaf58ffb1a3b1fb6637fa505982768e31092fba82b539");
    }
    
    #Winter_Watchers {
        background-image: url("https://drscdn.500px.org/photo/1105613697/q%3D80_m%3D600/v2?sig=593b2bb1bbfedb22477419ef82fd04cd52b94283f8c90d21687820ab9b68b741");
    }
    
    #Winters_Echo {
        background-image: url("https://drscdn.500px.org/photo/1105613698/q%3D80_m%3D600/v2?sig=53cf2cd2fb4476adcfe50dc34789a0cdbcdf168d06fae9250c4fd7d1ff058b6b");
    }
    
    #Winters_Shadow_Over_Looking_Glass_Rock {
        background-image: url("https://drscdn.500px.org/photo/1105613699/q%3D80_m%3D600/v2?sig=4a16520261cac2bc5ef9fc8f949f5f3609aff95f0d41efd67fd85cfa6f1aaebe");
    }
    
    #Winters_Solitude {
        background-image: url("https://drscdn.500px.org/photo/1105613700/q%3D80_m%3D600/v2?sig=3c31060abfd9f32da3610a74d1a192d74ecdcb5c079397b4853d823fe7002642");
    }
    
    #Workers_of_the_Hive {
        background-image: url("https://drscdn.500px.org/photo/1105613701/q%3D80_m%3D600/v2?sig=f1e9a1ffcf91002766d4bd46668d1b50b540ad3b6f5a3014f20da554ab99f6da");
    }
    
    #Zebras_Distinctive_Stripes {
        background-image: url("https://drscdn.500px.org/photo/1105613702/q%3D80_m%3D600/v2?sig=c7af17f8475a061a8da82b1db2fd0c1e6108b5aa76f0d5d4b574f90eaa4a6150");
    }

    #Full_Worm_Moon_2025 {
        background-image: url("https://drscdn.500px.org/photo/1110429460/q%3D80_m%3D600/v2?sig=5047a2cf040e398ae41b749da4697407a7827e7bec2dc71d8c9276543a49bafa");
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}