/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
}

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
    background-color: white;
    color: black;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    .btn:link, .btn:visited, .btn:active {
        background-color: white;
        color: black;
    }

    .btn:hover {
        background-color: white;
        color: #E8B130;
    }

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1vh 0 1vh 0;
    text-align: center;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-bottom: white 0.1em solid;
    z-index: 10;
    background-color: black;
    width: 100vw;
}

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 100%;
        align-content: space-around;
    }

        #sig-box {
            display:block;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        h1 {
            color: white;
            font-size: 2em;
            padding: 0.2em;
            border-radius: 0 0 1em 0.2em;
            border-bottom: solid #e8b130 0.15em;
        }

    .header-social_media {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 0;
        align-content: center;
        font-size: 1.1em;
        border-right: 1px white solid;
    }
    
        .header-social_media i {
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
            padding-right: 1.5vw;
            padding-left: 1.5vw;
            color: white;
            font-size: 1.5em;
            margin: 0.2em 0.5em;
        }
      
        .header-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .header-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

        .home i {
            background-color: white;
            color: black;
            border-radius: 100%;
            padding: 0.2em;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: white solid 0.2em;
}

.banner {
    background-color: gray;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
}

.cont {
    display: block;
    width: 90vw;
    padding: 0;
    float: left;
    margin: 3em 0 3em 0;
}

    .image {
        width: 100%;
        height: 20em;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: padding-box;
        background-attachment: scroll;
        background-clip: border-box;
        padding: 0;
    }

    .container_box {
        background-color: black;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: space-around;
        border-right: solid hsla(42, 80%, 55%, 0.2) 0.3em;
        border-top: solid hsla(42, 80%, 55%, 0.2)  0.3em;
        border-radius: 100% 10% 100% 0;
        color: white;
        padding: 1em;
    }

        .title {
            font-size: 1.3em;
            font-style: italic;
            text-align: right;
            padding: 0.3em;
            border-bottom: solid white 0.1em;
        }

        .description {
            font-size: 1.1em;
            padding: 1em;
            opacity: 100%;
            text-align: justify;
        }

            .fa-quote-left, .fa-quote-right {
                color: #e8b130;
                font-size: 1.1em;
                opacity: 80%;
            }

            .fa-quote-left {
                padding: 0 1em 0 0;
            }

            .fa-quote-right {
                padding: 0 0 0 1em;
            }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .image {
        height: 40em;
    }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    .cont {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
        padding: 0;
        float: left;
        margin: 3em 0 3em 0;
    }

    .cont .btn {
        margin-top: 2em;
    }
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    .container_box {
        border-right: solid hsla(42, 80%, 55%, 0.4) 0.2em;
        border-top: solid hsla(42, 80%, 55%, 0.4)  0.2em;
    }
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    padding: 5em 1.5em 5em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: black;
}

    footer p {
        padding: 0;
    }

    .searchbar {
        margin: 2em 0 2em 0;
    }
    
    .searchbar input[type=text] {
        padding: 0.3em 1em 0.3em 1em;
        font-size: 1em;
        background-color: black;
        color: white;
        border: 0.1em dashed white;
        border-radius: 1em;
    }

    .footer-social_media {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding: 0.5em;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

        .footer-social_media .home i {
            color: black;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/



.form-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

    .form-container h1 {
        color: black;
    }

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: black;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
    color: black;
}




















    /*slideshow*/

/*
.slideshow {
    position: relative;
    height: 20em;
}

.slideshow a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fade 25s infinite;
}

.slideshow a:nth-child(1) {
    animation-delay: 0s;
}

.slideshow a:nth-child(2) {
    animation-delay: 4s;
}

.slideshow a:nth-child(3) {
    animation-delay: 8s;
}

.slideshow a:nth-child(4) {
    animation-delay: 12s;
}

.slideshow a:nth-child(5) {
    animation-delay: 16s;
}

.slideshow a:nth-child(6) {
    animation-delay: 20s;
}

.slideshow a:nth-child(7) {
    animation-delay: 24s;
}

.slideshow a:nth-child(8) {
    animation-delay: 28s;
}

.slideshow a:nth-child(9) {
    animation-delay: 32s;
}

.slideshow a:nth-child(10) {
    animation-delay: 36s;
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    25% { opacity: 1; }
    35% { opacity: 0; }
    100% { opacity: 0; }
}

/*

    /* PHOTOS IN ALPHABETICAL ORDER 
    
        #Image_Title {
            background-image: url("/photography/Life_Landscapes/Image_Title.jpg");
        }
    
    */
 
    #A_Winters_Snack {        
        background-image: url("/photography/Life_Landscapes/A_Winters_Snack.jpg");
    }

    #Adventure {
        background-image: url("/photography/Life_Landscapes/Adventure.jpg");
    }
    
    #American_Bald_Eagle {
        background-image: url("/photography/Life_Landscapes/American_Bald_Eagle.jpg");
    }
    
    #Appalachian_Allure {
        background-image: url("/photography/Life_Landscapes/Appalachian_Allure.jpg");
    }
    
    #Autumn_Majesty {
        background-image: url("/photography/Life_Landscapes/Autumn_Majesty.jpg");
    }
    
    #Autumns_Mosaic {
        background-image: url("/photography/Life_Landscapes/Autumns_Mosaic.jpg");
    }
    
    #Baraj_Valea_Drăganului {
        background-image: url("/photography/Life_Landscapes/Baraj_Valea_Drăganului.jpg");
    }
    
    #Bear_in_the_Clouds {
        background-image: url("/photography/Life_Landscapes/Bear_in_the_Clouds.jpg");
    }
    
    #Beauty_and_Grace {
        background-image: url("/photography/Life_Landscapes/Beauty_and_Grace.jpg");
    }
    
    #Beneath_the_Icy_Glow {
        background-image: url("/photography/Life_Landscapes/Beneath_the_Icy_Glow.jpg");
    }
    
    #Black_and_White {
        background-image: url("/photography/Life_Landscapes/Black_and_White.jpg");
    }
    
    #Black_Balsam {
        background-image: url("/photography/Life_Landscapes/Black_Balsam.jpg");
    }
    
    #Blooming_Mountain_Laurel {
        background-image: url("/photography/Life_Landscapes/Blooming_Mountain_Laurel.jpg");
    }
    
    #Brașov_from_Above {
        background-image: url("/photography/Life_Landscapes/Brașov_from_Above.jpg");
    }
    
    #Căpițe {
        background-image: url("/photography/Life_Landscapes/Căpițe.jpg");
    }
    
    #Castaway {
        background-image: url("/photography/Life_Landscapes/Castaway.jpg");
    }
    
    #Celestial_Convergence {
        background-image: url("/photography/Life_Landscapes/Celestial_Convergence.jpg");
    }
    
    #Crowned_in_Mist_Horizontal {
        background-image: url("/photography/Life_Landscapes/Crowned_in_Mist_Horizontal.jpg");
    }
    
    #Crowned_in_Mist_Vertical {
        background-image: url("/photography/Life_Landscapes/Crowned_in_Mist_Vertical.jpg");
    }
    
    #Curiosity {
        background-image: url("/photography/Life_Landscapes/Curiosity.jpg");
    }
    
    #Curious_Encounter {
        background-image: url("/photography/Life_Landscapes/Curious_Encounter.jpg");
    }
    
    #Dry_Falls {
        background-image: url("/photography/Life_Landscapes/Dry_Falls.jpg");
    }
    
    #Easters_Blessing {
        background-image: url("/photography/Life_Landscapes/Easters_Blessing.jpg");
    }
    
    #Emerald_Eyes {
        background-image: url("/photography/Life_Landscapes/Emerald_Eyes.jpg");
    }
    
    #Emergence {
        background-image: url("/photography/Life_Landscapes/Emergence.jpg");
    }
    
    #Emergence-2 {
        background-image: url("/photography/Life_Landscapes/Emergence-2.jpg");
    }
    
    #Feathered_Serenity {
        background-image: url("/photography/Life_Landscapes/Feathered_Serenity.jpg");
    }
    
    #Fiery_Sky-1 {
        background-image: url("/photography/Life_Landscapes/Fiery_Sky-1.jpg");
    }
    
    #Fiery_Sky-2 {
        background-image: url("/photography/Life_Landscapes/Fiery_Sky-2.jpg");
    }
    
    #Formidable_Height {
        background-image: url("/photography/Life_Landscapes/Formidable_Height.jpg");
    }
    
    #Frosted_Slope {
        background-image: url("/photography/Life_Landscapes/Frosted_Slope.jpg");
    }
    
    #Fryingpans_Warmth {
        background-image: url("/photography/Life_Landscapes/Fryingpans_Warmth.jpg");
    }
    
    #Galapagos_Sea_Lion {
        background-image: url("/photography/Life_Landscapes/Galapagos_Sea_Lion.jpg");
    }
    
    #Golden_Afterglow {
        background-image: url("/photography/Life_Landscapes/Golden_Afterglow.jpg");
    }
    
    #Golden_Grazing {
        background-image: url("/photography/Life_Landscapes/Golden_Grazing.jpg");
    }
    
    #Graceful_Glide {
        background-image: url("/photography/Life_Landscapes/Graceful_Glide.jpg");
    }
    
    #Gradient_Horizon {
        background-image: url("/photography/Life_Landscapes/Gradient_Horizon.jpg");
    }
    
    #Grazing_in_Drăgan {
        background-image: url("/photography/Life_Landscapes/Grazing_in_Drăgan.jpg");
    }
    
    #Hidden_Surprise {
        background-image: url("/photography/Life_Landscapes/Hidden_Surprise.jpg");
    }
    
    #Illuminated_Faith {
        background-image: url("/photography/Life_Landscapes/Illuminated_Faith.jpg");
    }
    
    #Kordofan_Giraffe_Profile {
        background-image: url("/photography/Life_Landscapes/Kordofan_Giraffe_Profile.jpg");
    }
    
    #Lake_Drăgan {
        background-image: url("/photography/Life_Landscapes/Lake_Drăgan.jpg");
    }
    
    #Legend_of_the_Dogwood {
        background-image: url("/photography/Life_Landscapes/Legend_of_the_Dogwood.jpg");
    }
    
    #Locals {
        background-image: url("/photography/Life_Landscapes/Locals.jpg");
    }
    
    #Lunar_Majesty {
        background-image: url("/photography/Life_Landscapes/Lunar_Majesty.jpg");
    }
    
    #Lush_Horizons {
        background-image: url("/photography/Life_Landscapes/Lush_Horizons.jpg");
    }
    
    #Majestic_Repose {
        background-image: url("/photography/Life_Landscapes/Majestic_Repose.jpg");
    }
    
    #Megahorn {
        background-image: url("/photography/Life_Landscapes/Megahorn.jpg");
    }
    
    #Mooney_Falls_in_Motion {
        background-image: url("/photography/Life_Landscapes/Mooney_Falls_in_Motion.jpg");
    }
    
    #Mount_Pisgah {
        background-image: url("/photography/Life_Landscapes/Mount_Pisgah.jpg");
    }
    
    #Navigating_the_Waves {
        background-image: url("/photography/Life_Landscapes/Navigating_the_Waves.jpg");
    }
    
    #Pathway_to_the_Smoky_Horizon {
        background-image: url("/photography/Life_Landscapes/Pathway_to_the_Smoky_Horizon.jpg");
    }
    
    #Peak_Autumn_Vibrance-1 {
        background-image: url("/photography/Life_Landscapes/Peak_Autumn_Vibrance-1.jpg");
    }
    
    #Peak_Autumn_Vibrance-2 {
        background-image: url("/photography/Life_Landscapes/Peak_Autumn_Vibrance-2.jpg");
    }
    
    #Perched_on_Tradition {
        background-image: url("/photography/Life_Landscapes/Perched_on_Tradition.jpg");
    }
    
    #Purple_Stripe_Jellyfish-1 {
        background-image: url("/photography/Life_Landscapes/Purple_Stripe_Jellyfish-1.jpg");
    }
    
    #Purple_Stripe_Jellyfish-2 {
        background-image: url("/photography/Life_Landscapes/Purple_Stripe_Jellyfish-2.jpg");
    }
    
    #Rainbows_Embrace {
        background-image: url("/photography/Life_Landscapes/Rainbows_Embrace.jpg");
    }
    
    #Red-backed_Shrike {
        background-image: url("/photography/Life_Landscapes/Red-backed_Shrike.jpg");
    }
    
    #Refreshing_Cascade {
        background-image: url("/photography/Life_Landscapes/Refreshing_Cascade.jpg");
    }
    
    #Restful_Moment {
        background-image: url("/photography/Life_Landscapes/Restful_Moment.jpg");
    }
    
    #Resting_Majesty {
        background-image: url("/photography/Life_Landscapes/Resting_Majesty.jpg");
    }
    
    #Retro_Glow {
        background-image: url("/photography/Life_Landscapes/Retro_Glow.jpg");
    }
    
    #Ripples_of_Dawn {
        background-image: url("/photography/Life_Landscapes/Ripples_of_Dawn.jpg");
    }
    
    #Rivers_Rhythm {
        background-image: url("/photography/Life_Landscapes/Rivers_Rhythm.jpg");
    }
    
    #Roaring_Waters {
        background-image: url("/photography/Life_Landscapes/Roaring_Waters.jpg");
    }
    
    #Shaded_Rest {
        background-image: url("/photography/Life_Landscapes/Shaded_Rest.jpg");
    }
    
    #Solitude {
        background-image: url("/photography/Life_Landscapes/Solitude.jpg");
    }
    
    #Solitude-2 {
        background-image: url("/photography/Life_Landscapes/Solitude-2.jpg");
    }
    
    #Solitude-3 {
        background-image: url("/photography/Life_Landscapes/Solitude-3.jpg");
    }
    
    #Summer_Sentinel {
        background-image: url("/photography/Life_Landscapes/Summer_Sentinel.jpg");
    }
    
    #Summer_Serenity {
        background-image: url("/photography/Life_Landscapes/Summer_Serenity.jpg");
    }
    
    #Sunbathing {
        background-image: url("/photography/Life_Landscapes/Sunbathing.jpg");
    }
    
    #Sunburst {
        background-image: url("/photography/Life_Landscapes/Sunburst.jpg");
    }
    
    #Sunflower_Serenade {
        background-image: url("/photography/Life_Landscapes/Sunflower_Serenade.jpg");
    }
    
    #Sunset_over_the_Blue_Ridge {
        background-image: url("/photography/Life_Landscapes/Sunset_over_the_Blue_Ridge.jpg");
    }
    
    #Sunsets_Icy_Veil {
        background-image: url("/photography/Life_Landscapes/Sunsets_Icy_Veil.jpg");
    }
    
    #Symphony_of_Color {
        background-image: url("/photography/Life_Landscapes/Symphony_of_Color.jpg");
    }
    
    #Tapestry_of_Churches {
        background-image: url("/photography/Life_Landscapes/Tapestry_of_Churches.jpg");
    }
    
    #The_M-Shaped_Falls {
        background-image: url("/photography/Life_Landscapes/The_M-Shaped_Falls.jpg");
    }
    
    #The_Watchful_Grazer {
        background-image: url("/photography/Life_Landscapes/The_Watchful_Grazer.jpg");
    }
    
    #Towers_Frame {
        background-image: url("/photography/Life_Landscapes/Towers_Frame.jpg");
    }
    
    #Tranquility {
        background-image: url("/photography/Life_Landscapes/Tranquility.jpg");
    }
    
    #Turkish_Cap_Lilies {
        background-image: url("/photography/Life_Landscapes/Turkish_Cap_Lilies.jpg");
    }
    
    #Twilights_Guardian {
        background-image: url("/photography/Life_Landscapes/Twilights_Guardian.jpg");
    }
    
    #Underwater_Ballet {
        background-image: url("/photography/Life_Landscapes/Underwater_Ballet.jpg");
    }
    
    #Whimsy_in_the_Marsh {
        background-image: url("/photography/Life_Landscapes/Whimsy_in_the_Marsh.jpg");
    }
    
    #Whispers_of_Willow {
        background-image: url("/photography/Life_Landscapes/Whispers_of_Willow.jpg");
    }
    
    #Winter_Twilight {
        background-image: url("/photography/Life_Landscapes/Winter_Twilight.jpg");
    }
    
    #Winter_Watchers {
        background-image: url("/photography/Life_Landscapes/Winter_Watchers.jpg");
    }
    
    #Winters_Echo {
        background-image: url("/photography/Life_Landscapes/Winters_Echo.jpg");
    }
    
    #Winters_Shadow_Over_Looking_Glass_Rock {
        background-image: url("/photography/Life_Landscapes/Winters_Shadow_Over_Looking_Glass_Rock.jpg");
    }
    
    #Winters_Solitude {
        background-image: url("/photography/Life_Landscapes/Winters_Solitude.jpg");
    }
    
    #Workers_of_the_Hive {
        background-image: url("/photography/Life_Landscapes/Workers_of_the_Hive.jpg");
    }
    
    #Zebras_Distinctive_Stripes {
        background-image: url("/photography/Life_Landscapes/Zebras_Distinctive_Stripes.jpg");
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}