/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
}

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
    background-color: white;
    color: black;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    .btn:link, .btn:visited, .btn:active {
        background-color: white;
        color: black;
    }

    .btn:hover {
        background-color: white;
        color: #E8B130;
    }

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1vh 0 1vh 0;
    text-align: center;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-bottom: white 0.1em solid;
    z-index: 10;
    background-color: black;
    width: 100vw;
}

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 100%;
        align-content: space-around;
    }

        #sig-box {
            display:block;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        h1 {
            color: white;
            font-size: 2em;
            padding: 0.2em;
            border-radius: 0 0 1em 0.2em;
            border-bottom: solid #e8b130 0.15em;
        }

    .header-social_media {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 0;
        align-content: center;
        font-size: 1.1em;
        border-right: 1px white solid;
    }
    
        .header-social_media i {
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
            padding-right: 1.5vw;
            padding-left: 1.5vw;
            color: white;
            font-size: 1.5em;
            margin: 0.2em 0.5em;
        }
      
        .header-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .header-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

        .home i {
            background-color: white;
            color: black;
            border-radius: 100%;
            padding: 0.2em;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: white solid 0.2em;
}

.banner {
    background-color: gray;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
}

.cont {
    display: block;
    width: 90vw;
    padding: 0;
    float: left;
    margin: 3em 0 3em 0;
}

    .image {
        width: 100%;
        height: 20em;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: padding-box;
        background-attachment: scroll;
        background-clip: border-box;
        padding: 0;
    }

    .container_box {
        background-color: black;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: space-around;
        border-right: solid hsla(42, 80%, 55%, 0.5) 0.3em;
        border-top: solid hsla(42, 80%, 55%, 0.5)  0.3em;
        border-radius: 100% 10% 100% 0;
        color: white;
        padding: 1em;
    }

        .title {
            font-size: 1.3em;
            font-style: italic;
            text-align: right;
            padding: 0.3em;
            border-bottom: solid white 0.1em;
        }

        .description {
            font-size: 1.1em;
            padding: 1em;
            opacity: 100%;
            text-align: justify;
        }

            .fa-quote-left, .fa-quote-right {
                color: #e8b130;
                font-size: 1.1em;
                opacity: 80%;
            }

            .fa-quote-left {
                padding: 0 1em 0 0;
            }

            .fa-quote-right {
                padding: 0 0 0 1em;
            }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .image {
        height: 40em;
    }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    .cont {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
        padding: 0;
        float: left;
        margin: 3em 0 3em 0;
    }

    .cont .btn {
        margin-top: 2em;
    }
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    .container_box {
        border-right: solid hsla(42, 80%, 55%, 0.4) 0.2em;
        border-top: solid hsla(42, 80%, 55%, 0.4)  0.2em;
    }
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    padding: 5em 1.5em 5em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: black;
}

    footer p {
        padding: 0;
    }

    .searchbar {
        margin: 2em 0 2em 0;
    }
    
    .searchbar input[type=text] {
        padding: 0.3em 1em 0.3em 1em;
        font-size: 1em;
        background-color: black;
        color: white;
        border: 0.1em dashed white;
        border-radius: 1em;
    }

    .footer-social_media {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding: 0.5em;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

        .footer-social_media .home i {
            color: black;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/



.form-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

    .form-container h1 {
        color: black;
    }

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: black;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
    color: black;
}




















    /*slideshow*/

/*
.slideshow {
    position: relative;
    height: 20em;
}

.slideshow a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fade 25s infinite;
}

.slideshow a:nth-child(1) {
    animation-delay: 0s;
}

.slideshow a:nth-child(2) {
    animation-delay: 4s;
}

.slideshow a:nth-child(3) {
    animation-delay: 8s;
}

.slideshow a:nth-child(4) {
    animation-delay: 12s;
}

.slideshow a:nth-child(5) {
    animation-delay: 16s;
}

.slideshow a:nth-child(6) {
    animation-delay: 20s;
}

.slideshow a:nth-child(7) {
    animation-delay: 24s;
}

.slideshow a:nth-child(8) {
    animation-delay: 28s;
}

.slideshow a:nth-child(9) {
    animation-delay: 32s;
}

.slideshow a:nth-child(10) {
    animation-delay: 36s;
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    25% { opacity: 1; }
    35% { opacity: 0; }
    100% { opacity: 0; }
}

/*

    /* PHOTOS IN ALPHABETICAL ORDER 
    
        #Image_Title {
            background-image: url("/photography/Life_Landscapes/Image_Title.jpg");
        }
    
    */
 
    #A_Winters_Snack {        
        background-image: url("https://drscdn.500px.org/photo/1102901125/q%3D80_m%3D600/v2?sig=deb57d6c5494283963047d58123811aeddfaf4abd8727be25ca1b1a4184c3a21");
    }

    #Adventure {
        background-image: url("https://drscdn.500px.org/photo/1102901127/q%3D80_m%3D600/v2?sig=9282d539c8b77144f0978806ae351c1fbe13fa4ebd20bdbfd112d647467c4320");
    }
    
    #American_Bald_Eagle {
        background-image: url("https://drscdn.500px.org/photo/1102445339/q%3D80_m%3D600/v2?sig=382b1b0f0d4472efe35a54c2260a60db47c6efc2eeafa9c92aebd55c0651d40a");
    }
    
    #Appalachian_Allure {
        background-image: url("https://drscdn.500px.org/photo/1102901128/q%3D80_m%3D600/v2?sig=e8e42d9bc806ccdc58c41c2a4bfb93607086e7829ed5a3b6c23b9defc82d66fa");
    }
    
    #Autumn_Majesty {
        background-image: url("https://drscdn.500px.org/photo/1102901129/q%3D80_m%3D600/v2?sig=eedf964d46add820e027a1b3e82a0f3dce250ffbdab1193bd6dfb436ebaa4dee");
    }
    
    #Autumns_Mosaic {
        background-image: url("https://drscdn.500px.org/photo/1102901130/q%3D80_m%3D600/v2?sig=c7351da50fa35edfd3456fe8f755cd4c457312e764304fa10c774c295c265803");
    }
    
    #Baraj_Valea_Drăganului {
        background-image: url("https://drscdn.500px.org/photo/1102901133/q%3D80_m%3D600/v2?sig=83114f2541c9a8205d3a150f871459248c723641ee0244e0899a0d4b730903fa");
    }
    
    #Bear_in_the_Clouds {
        background-image: url("https://drscdn.500px.org/photo/1102901135/q%3D80_m%3D600/v2?sig=2d6f9c2b72244879d51bd2f40dcb4bb25608f72af4d4c0598323bbfdb37e374c");
    }
    
    #Beauty_and_Grace {
        background-image: url("https://drscdn.500px.org/photo/1102901136/q%3D80_m%3D600/v2?sig=d2a6f667bf2fc372cd318ba61030cc16a6f874eed6ca25bd5a50ad54e0000025");
    }
    
    #Beneath_the_Icy_Glow {
        background-image: url("https://drscdn.500px.org/photo/1102901137/q%3D80_m%3D600/v2?sig=6286eb075ca9a401aea49be5ba9ac80b2200efc7d4f4297415bf1126fc2d2655");
    }
    
    #Black_and_White {
        background-image: url("https://drscdn.500px.org/photo/1102901138/q%3D80_m%3D600/v2?sig=9bff53c8b394fcc0660e0042200fcb3a6df392474b1dc8221621f8ac5d064740");
    }
    
    #Black_Balsam {
        background-image: url("https://drscdn.500px.org/photo/1102901139/q%3D80_m%3D600/v2?sig=23d9ef459f8751a936ea3129a601b47ae5a81e90ac0e8a4d9bb2702682ef9eed");
    }
    
    #Blooming_Mountain_Laurel {
        background-image: url("https://drscdn.500px.org/photo/1102901141/q%3D80_m%3D600/v2?sig=de621ad08f3ce600f09e72d6b50d0407b562d81addd31dbf774f20175f1f45a8");
    }
    
    #Brașov_from_Above {
        background-image: url("https://drscdn.500px.org/photo/1102901142/q%3D80_m%3D600/v2?sig=d12cc9a761c57aa9a6be64e8a746034faae8bccf1374031f5aba563b03451cb6");
    }
    
    #Căpițe {
        background-image: url("https://drscdn.500px.org/photo/1102901143/q%3D80_m%3D600/v2?sig=cc741887f59118524210ac2d8bc1d009d55d6016fd19762e28332ccdbdabdd06");
    }
    
    #Castaway {
        background-image: url("https://drscdn.500px.org/photo/1102901146/q%3D80_m%3D600/v2?sig=5e11263be6d10053581ee5e67a0287c4aab08894213388a2da0d23c20a62e328");
    }
    
    #Celestial_Convergence {
        background-image: url("https://drscdn.500px.org/photo/1102901147/q%3D80_m%3D600/v2?sig=4e42f3dfe27db8ae67a0d90a781ec261fceb91598f732d199ae85bdbb8a09891");
    }
    
    #Crowned_in_Mist {
        background-image: url("https://drscdn.500px.org/photo/1105280088/q%3D80_m%3D600/v2?sig=9c5b38010bd3b1ff18d1ac748b895c316d6d8477ee2dcbbbbf47bd85e4912634");
    }
    
    #Cumberland {
        background-image: url("https://drscdn.500px.org/photo/1105280253/q%3D80_m%3D600/v2?sig=e6496bb56ce492de7db158bdfc65c20713e21669b42f6d456e1244e9dcdeb038");
    }
    
    #Curiosity {
        background-image: url("https://drscdn.500px.org/photo/1105280089/q%3D80_m%3D600/v2?sig=73ddc5af01954f84f02db3c7771d2fa8077e1581c5d8f6a968cc9fb03b1c171e");
    }
    
    #Curious_Encounter {
        background-image: url("https://drscdn.500px.org/photo/1105280090/q%3D80_m%3D600/v2?sig=b9e5ab5af0629e37aa86b248602dc92beeebc04acd444320b8929ab65c031e53");
    }
    
    #Dry_Falls {
        background-image: url("https://drscdn.500px.org/photo/1105280091/q%3D80_m%3D600/v2?sig=b6fae3fad19cb2e6189936aaeb46ce10fbe0ce4a28b919a997d7fcf3897ae859");
    }
    
    #Easters_Blessing {
        background-image: url("https://drscdn.500px.org/photo/1105280092/q%3D80_m%3D600/v2?sig=e0311a73761f9e56d5c1e427cd2224f45c7b486dfafc593c138dbc33ccc18787");
    }

    #Edge_of_the_Storm {
        background-image: url("https://drscdn.500px.org/photo/1105280093/q%3D80_m%3D600/v2?sig=b0a4534bf56c8d81d062e95fc1bd64909cf2525490c019a036febd19b0db8ca5");
    }
    
    #Emerald_Eyes {
        background-image: url("https://drscdn.500px.org/photo/1105280094/q%3D80_m%3D600/v2?sig=7799296ee5ac592178713356e9c718b8044573efa95383d6504e6976aa86f963");
    }
    
    #Emergence {
        background-image: url("https://drscdn.500px.org/photo/1105280302/q%3D80_m%3D600/v2?sig=906b781cffcf7f33ccda858d6e2982338bfda5388aeee75c4d5f82f9e39916e0");
    }
    
    #Feathered_Serenity {
        background-image: url("https://drscdn.500px.org/photo/1105280303/q%3D80_m%3D600/v2?sig=7a6cd833c3fa7f186d43f243cdf3d4989fb5ce6668cba3dbb6c6f97526001c1b");
    }
    
    #Fiery_Sky {
        background-image: url("https://drscdn.500px.org/photo/1105280304/q%3D80_m%3D600/v2?sig=114fd423a81ea31a09bd8e5cfa33170bd9d87415306cacd7563594e28909c78b");
    }
    
    #Frosted_Slope {
        background-image: url("https://drscdn.500px.org/photo/1105280306/q%3D80_m%3D600/v2?sig=37875070a3344a8e9aca63dbaa01bff5d1378230f2e667b295a9dad76d19198e");
    }
    
    #Fryingpans_Warmth {
        background-image: url("https://drscdn.500px.org/photo/1105280307/q%3D80_m%3D600/v2?sig=5621303a616dc8322af5d87ac6bb824007d0e8985343ceeacbf219591377f5fa");
    }
    
    #Galapagos_Sea_Lion {
        background-image: url("https://drscdn.500px.org/photo/1105280308/q%3D80_m%3D600/v2?sig=236b6d7a65bd6b9e2dae797561b885827ea7b3d7edd2a18d522232605d49bf89");
    }
    
    #Golden_Afterglow {
        background-image: url("https://drscdn.500px.org/photo/1105280313/q%3D80_m%3D600/v2?sig=59be7952eee21953bf62957d554b01ffd896ac03879dde365e6b41419a52b202");
    }
    
    #Graceful_Glide {
        background-image: url("https://drscdn.500px.org/photo/1105280309/q%3D80_m%3D600/v2?sig=664795cda5be7d4ffc4f5655295ac274ce6dfd4ad39f00b0b2c858e2d18e4396");
    }
    
    #Gradient_Horizon {
        background-image: url("https://drscdn.500px.org/photo/1105280310/q%3D80_m%3D600/v2?sig=9cb3d4bd383a30dc605757f4a31d2b5b3cc0c4fb9c7f917cf42e8205709e2924");
    }
    
    #Hidden_Surprise {
        background-image: url("https://drscdn.500px.org/photo/1105280312/q%3D80_m%3D600/v2?sig=d4a3d196c4804d7005febd6f243894088980f096ad5b2157d5be4ce04e1e5f5b");
    }
    
    #Highland_Whispers {
        background-image: url("/photography/Life_Landscapes/Highland_Whispers.jpg");
    }
    
    #Illuminated_Faith {
        background-image: url("https://drscdn.500px.org/photo/1105280311/q%3D80_m%3D600/v2?sig=88e3152a8a586ab8bbf3e6b2800763ce22f03c3334c4b388abb83ce838357abf");
    }
    
    #Kordofan_Giraffe_Profile {
        background-image: url("https://drscdn.500px.org/photo/1105280320/q%3D80_m%3D600/v2?sig=33a7f505f65a506ffaaf7b4ca8e87c786931f3220c7f179c2c1749b6e89845c6");
    }
    
    #Lake_Drăgan {
        background-image: url("/photography/Life_Landscapes/Lake_Drăgan.jpg");
    }
    
    #Legend_of_the_Dogwood {
        background-image: url("/photography/Life_Landscapes/Legend_of_the_Dogwood.jpg");
    }
    
    #Locals {
        background-image: url("/photography/Life_Landscapes/Locals.jpg");
    }
    
    #Lunar_Majesty {
        background-image: url("/photography/Life_Landscapes/Lunar_Majesty.jpg");
    }
    
    #Lush_Horizons {
        background-image: url("/photography/Life_Landscapes/Lush_Horizons.jpg");
    }
    
    #Majestic_Repose {
        background-image: url("/photography/Life_Landscapes/Majestic_Repose.jpg");
    }
    
    #Megahorn {
        background-image: url("/photography/Life_Landscapes/Megahorn.jpg");
    }
    
    #Mooney_Falls_in_Motion {
        background-image: url("https://drscdn.500px.org/photo/1102901116/q%3D80_m%3D600/v2?sig=3a02fde9a3fda1f0431b50023c73ea2b5589cdba9da16a7857e00b8976d7a35a");
    }
    
    #Mount_Pisgah {
        background-image: url("/photography/Life_Landscapes/Mount_Pisgah.jpg");
    }
    
    #Navigating_the_Waves {
        background-image: url("/photography/Life_Landscapes/Navigating_the_Waves.jpg");
    }
    
    #Pathway_to_the_Smoky_Horizon {
        background-image: url("/photography/Life_Landscapes/Pathway_to_the_Smoky_Horizon.jpg");
    }
    
    #Peak_Autumn_Vibrance {
        background-image: url("/photography/Life_Landscapes/Peak_Autumn_Vibrance.jpg");
    }
    
    #Perched_on_Tradition {
        background-image: url("/photography/Life_Landscapes/Perched_on_Tradition.jpg");
    }
    
    #Purple_Stripe_Jellyfish {
        background-image: url("/photography/Life_Landscapes/Purple_Stripe_Jellyfish-2.jpg");
    }
    
    #Rainbows_Embrace {
        background-image: url("/photography/Life_Landscapes/Rainbows_Embrace.jpg");
    }
    
    #Red-backed_Shrike {
        background-image: url("/photography/Life_Landscapes/Red-backed_Shrike.jpg");
    }
    
    #Refreshing_Cascade {
        background-image: url("/photography/Life_Landscapes/Refreshing_Cascade.jpg");
    }
    
    #Restful_Moment {
        background-image: url("/photography/Life_Landscapes/Restful_Moment.jpg");
    }
    
    #Resting_Majesty {
        background-image: url("/photography/Life_Landscapes/Resting_Majesty.jpg");
    }
    
    #Retro_Glow {
        background-image: url("/photography/Life_Landscapes/Retro_Glow.jpg");
    }
    
    #Ripples_of_Dawn {
        background-image: url("/photography/Life_Landscapes/Ripples_of_Dawn.jpg");
    }
    
    #Rivers_Rhythm {
        background-image: url("/photography/Life_Landscapes/Rivers_Rhythm.jpg");
    }
    
    #Roaring_Waters {
        background-image: url("/photography/Life_Landscapes/Roaring_Waters.jpg");
    }

    #Semipalmated_Plover {
        background-image: url("/photograhpy/Life_Landscapes/Semipalmated_Plover.jpg");
    }
    
    #Shaded_Rest {
        background-image: url("/photography/Life_Landscapes/Shaded_Rest.jpg");
    }

    #Smooth_Sailing {
        background-image: url("/photograhpy/Life_Landscapes/Smooth_Sailing.jpg");
    }
    
    #Solitude {
        background-image: url("/photography/Life_Landscapes/Solitude.jpg");
    }
    
    #Summer_Sentinel {
        background-image: url("/photography/Life_Landscapes/Summer_Sentinel.jpg");
    }
    
    #Summer_Serenity {
        background-image: url("/photography/Life_Landscapes/Summer_Serenity.jpg");
    }
    
    #Sunbathing {
        background-image: url("/photography/Life_Landscapes/Sunbathing.jpg");
    }
    
    #Sunburst {
        background-image: url("/photography/Life_Landscapes/Sunburst.jpg");
    }
    
    #Sunflower_Serenade {
        background-image: url("/photography/Life_Landscapes/Sunflower_Serenade.jpg");
    }
    
    #Sunset_over_the_Blue_Ridge {
        background-image: url("/photography/Life_Landscapes/Sunset_over_the_Blue_Ridge.jpg");
    }
    
    #Sunsets_Icy_Veil {
        background-image: url("/photography/Life_Landscapes/Sunsets_Icy_Veil.jpg");
    }
    
    #Tapestry_of_Churches {
        background-image: url("/photography/Life_Landscapes/Tapestry_of_Churches.jpg");
    }
    
    #The_M-Shaped_Falls {
        background-image: url("/photography/Life_Landscapes/The_M-Shaped_Falls.jpg");
    }

    #The_Ravenel_Bridge {
        background-image: url("/photograhpy/Life_Landscapes/The_Ravenel_Bridge.jpg");
    }
    
    #The_Watchful_Grazer {
        background-image: url("/photography/Life_Landscapes/The_Watchful_Grazer.jpg");
    }
    
    #Towers_Frame {
        background-image: url("/photography/Life_Landscapes/Towers_Frame.jpg");
    }
    
    #Tranquility {
        background-image: url("/photography/Life_Landscapes/Tranquility.jpg");
    }
    
    #Turkish_Cap_Lilies {
        background-image: url("/photography/Life_Landscapes/Turkish_Cap_Lilies.jpg");
    }
    
    #Twilights_Guardian {
        background-image: url("/photography/Life_Landscapes/Twilights_Guardian.jpg");
    }
    
    #Underwater_Ballet {
        background-image: url("/photography/Life_Landscapes/Underwater_Ballet.jpg");
    }
    
    #Whimsy_in_the_Marsh {
        background-image: url("https://drscdn.500px.org/photo/1102901111/q%3D80_m%3D600/v2?sig=7066590d22869f2406abb0dfa6915dac4ac32ea1cef3fa6ca47ba7974227a5e2");
    }

    #Williamsburg_Sheep {
        background-image: url("/photograhpy/Life_Landscapes/Williamsburg_Sheep.jpg");
    }
    
    #Winter_Twilight {
        background-image: url("/photography/Life_Landscapes/Winter_Twilight.jpg");
    }
    
    #Winter_Watchers {
        background-image: url("/photography/Life_Landscapes/Winter_Watchers.jpg");
    }
    
    #Winters_Echo {
        background-image: url("/photography/Life_Landscapes/Winters_Echo.jpg");
    }
    
    #Winters_Shadow_Over_Looking_Glass_Rock {
        background-image: url("/photography/Life_Landscapes/Winters_Shadow_Over_Looking_Glass_Rock.jpg");
    }
    
    #Winters_Solitude {
        background-image: url("/photography/Life_Landscapes/Winters_Solitude.jpg");
    }
    
    #Workers_of_the_Hive {
        background-image: url("/photography/Life_Landscapes/Workers_of_the_Hive.jpg");
    }
    
    #Zebras_Distinctive_Stripes {
        background-image: url("/photography/Life_Landscapes/Zebras_Distinctive_Stripes.jpg");
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}