/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
}

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
    background-color: white;
    color: black;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    .btn:link, .btn:visited, .btn:active {
        background-color: white;
        color: black;
    }

    .btn:hover {
        background-color: white;
        color: #E8B130;
    }

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1vh 0 1vh 0;
    text-align: center;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-bottom: white 0.1em solid;
    z-index: 10;
    background-color: black;
    width: 100vw;
}

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 100%;
        align-content: space-around;
    }

        #sig-box {
            display:block;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        h1 {
            color: white;
            font-size: 2em;
            padding: 0.2em;
            border-radius: 0 0 1em 0.2em;
            border-bottom: solid #e8b130 0.15em;
        }

    .header-social_media {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 0;
        align-content: center;
        font-size: 1.1em;
        border-right: 1px white solid;
    }
    
        .header-social_media i {
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
            padding-right: 1.5vw;
            padding-left: 1.5vw;
            color: white;
            font-size: 1.5em;
            margin: 0.2em 0.5em;
        }
      
        .header-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .header-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

        .home i {
            background-color: white;
            color: black;
            border-radius: 100%;
            padding: 0.2em;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    padding: 1em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

    .main_category {
        background-color: hsla(100, 100%, 100%, 0.07);
        margin: 1em 0;
        padding: 2em 1em;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

        .main_title {
            background-color: hsla(100, 100%, 100%, 0.07);
            font-size: 4em;
            border-radius: 0.2em 0.2em 1em 1em;
            border-top: solid 0.05em #e8b130;
            text-align: center;
        }

        .overview {
            font-size: 1.3em;
            padding: 6em 0.5em;
            margin: 1em 0;
            text-align: center;
            border: solid 0.1em white;
            background-color: hsla(100, 100%, 0%, 0.7) ;
            background-image: url("https://drscdn.500px.org/photo/1102901111/q%3D80_m%3D600/v2?sig=7066590d22869f2406abb0dfa6915dac4ac32ea1cef3fa6ca47ba7974227a5e2");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-attachment: scroll;
            background-clip: border-box;
            background-blend-mode:overlay;
        }

            .overview span {
                color: #e8b130;
            }

    .specific_category {
        padding: 0 0 1em 0;
        margin: 2em 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        border-radius: 1em;
        border-top: 0.3em dotted hsla(100, 100%, 100%, 0.2);
        border-bottom: 0.3em dotted hsla(100, 100%, 100%, 0.2);
        border-right: 0.25em dotted hsla(100, 100%, 100%, 0.2);
        border-left: 0.25em dotted hsla(100, 100%, 100%, 0.2);
    }

        .specific_title {
            border-bottom: solid white 0.1em;
            background-color: hsla(100, 100%, 100%, 0.05);
            text-align: center;
            font-size: 2.5em;
            padding: 0.5em 0 0.5em 0;
            margin-bottom: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
        }

        .description {
            padding: 4em 1em;
            font-size: 1.1em;
            margin-top: 0;
            background-color: hsla(100, 100%, 0%, 0.7) ;
            background-image: url("https://drscdn.500px.org/photo/1102901111/q%3D80_m%3D600/v2?sig=7066590d22869f2406abb0dfa6915dac4ac32ea1cef3fa6ca47ba7974227a5e2");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-attachment: scroll;
            background-clip: border-box;
            background-blend-mode:overlay;
        }

            .description span {
                color: #e8b130;
            }

    .subcat {
        padding: 0 0 1em 0;
        margin: 1em 0;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        background-color: hsla(100, 100%, 100%, 0.07)
    }

        .subcat_title {
            padding: 0.5em 0;
            margin: 0;
            border-bottom: 0.1em solid #e8b130;
        }

            .best {
                font-family: "Luxurious Script", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 2.5em;
            }

        .subcat_desc {
            padding: 2em;
            margin: 0;
            background-color: hsla(100, 100%, 0%, 0.7);
            background-image: url("https://drscdn.500px.org/photo/1102901111/q%3D80_m%3D600/v2?sig=7066590d22869f2406abb0dfa6915dac4ac32ea1cef3fa6ca47ba7974227a5e2");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-attachment: scroll;
            background-clip: border-box;
            background-blend-mode: overlay;
        }

        .special {
            background-color: red;
            padding: 1em;
        }

        .images {
            padding: 1em 0 0 0;
        }

        .duration {
            padding: 1em 0 0 0;
        }

        .price {
            padding: 1em 0 0 0;
        }

        .subcat .btn {
            margin-top: 1em;
        }








/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    padding: 5em 1.5em 5em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: black;
}

    footer p {
        padding: 0;
    }

    .footer-social_media {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding: 0.5em;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }

        .footer-social_media .home i {
            color: black;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/* Scrollbar */

::-webkit-scrollbar{
    background:#000; 
}
  
::-webkit-scrollbar-track{
    background:#f4f4f4;
}
  
::-webkit-scrollbar-thumb{
    background: #e8b130;
    background-image: -webkit-linear-gradient(20deg, rgba(255,255,255,.5) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.5) 50%, rgba(255,255,255,.5) 75%, transparent 75%);
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}