/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    cursor: default;
    user-select: none;
}

.btn {
    height: 3em;
    max-width: 25ch;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    border: none;
    font-size: 1.1em;
    background-color: black;
    color: white;
    text-decoration: none;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
}

.header_btns:link, .header_btns:visited, .header_btns:hover, .header_btns:active {
    background-color: white;
    color: black !important;
    border: none;
    text-decoration: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    body  {
        font-size: 1.5rem;
    }
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}



/*------------- screns with small heights (COL-LG-) ------------------------*/
@media screen and (max-height: 992px) {

    body  {
        font-size: 1rem !important;
    }
    
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1em 0 0 0;
    text-align: center;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-bottom: white 0.1em solid;
    z-index: 10;
    width: 100vw;
    color: white;
    background-color: black;
}

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-around;
    }

        #sig-box {
            display:flex;
            justify-content: center;
            align-items: center;
            background-color: black;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        header h1 {
            color: white;
            font-size: 2em;
            padding: 0.25em 0.75em;
            border-top: 0.01em solid white;
            margin: 0;
            background-color: black;
        }

        #md-title {
            display: none;
            background-color: black;
        }

    .header_btns {
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        width: 2em;
        height: 2em;
        position: absolute;
        background-color: white;
        color: black !important;
        cursor: pointer;
        border-radius: 50%;
    }

    #header-back {
        top: 0%;
        left: 5%;

    }

    #header-insta {
        top: 30%;
        left: 5%;
        background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4) !important;
        color: white !important;
    }

    #schedule-btn {
        top: 0;
        right: 5%;
    }

    #general-btn {
        top: 30%;
        right: 5%;
        background: linear-gradient(45deg, #00c6ff, #0072ff);
        color: white !important;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {  

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

        #sig-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        header h1 {
            color: white;
            font-size: 2em;
            padding: 0.75em;
            border-top: 0.01em solid white;
        }

        #md-title {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            font-size: 1.6em;
            margin-top: 1em;
            max-width: 35%;
            height: 3em;
        }

    .header_btn {
        background-color: white;
        color: black;
        border-radius: 0.25em;
        padding: 0.4em;
        font-size: 1.5em;
    }

    #header-back {
        bottom: 25%;
        right: initial;
        left: 1em;
    }

    #header-insta {
        bottom: 25%;
        right: initial;
        left: 3em;
    }

    #schedule-btn {
        bottom: 25%;
        right: initial;
        left: 5em;
    }

    #general-btn {
        bottom: 25%;
        right: initial;
        left: 7.1em;
    }
}

/*------------- MEDIUM SCREENS (COL-MD-) ----------------------*/

@media screen and (min-width: 768px) {
    #header-right {
        align-items: center;
        justify-content: flex-end;
        align-content: center;
        padding: 0.1em;
    }

    #sm-title {
        display: none;
    }

    #md-title {
        order: 1;
        display: initial;
        color: white;
        padding: 0.2em;
        margin-top: 0;
        border-top: none;
    }

    #sig-box {
        order: 2;
        padding-left: 1em;
        margin-left: 1em;
        border-left: solid #e8b130 0.1em;
    }

    #header-right h2 {
        padding: 0;
        margin: 0;
    }

    #text {
        display: none;
    }

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    overflow-x: hidden;
}

    .main_category {
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; 
        align-items: center;
    }

    .specific_category {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 2em 0;
        margin: 0 0.1em 0 0.1em;
        max-width: 40ch;
    }    
        
    .specific_category a:link a:visited, a:hover, a:active {
        color: white;
        text-decoration: none;
        border: none;
    }

        .description {
            height: 55vh;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-content: space-between;
            padding: 1em;
            box-shadow: black 0px 0px 30px;
            border-radius: 0.5em;
            font-size: 1.1em;
            color: white;
            background-color: hsla(100, 100%, 0%, 0.7);
            background-image: url("https://drscdn.500px.org/photo/1102901111/q%3D80_m%3D600/v2?sig=7066590d22869f2406abb0dfa6915dac4ac32ea1cef3fa6ca47ba7974227a5e2");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-attachment: scroll;
            background-clip: border-box;
            background-blend-mode:overlay;
        }

            .description span {
                display: block;
                color: white;
                font-size: 1.5em;
                text-transform: uppercase;
                font-weight: bold;
            }

            .description:hover {
                transform: scale(1.05);
            }

            #classics {
                background-image: url('https://drscdn.500px.org/photo/1112724426/q%3D80_m%3D600/v2?sig=08f4bc99f60eccca860254ddb89c90226ef57b35300cd04a4ede32fb25378358');    
            }

                #mini {
                    background-image: url("https://drscdn.500px.org/photo/1108655720/q%3D80_m%3D600/v2?sig=f06dc5519f6e6d475f4a247f0b6709ba16068483645ea70e79878cbcea574816");                
                }

                #signature {
                    background-image: url("https://drscdn.500px.org/photo/1108655706/q%3D80_m%3D600/v2?sig=9ab6f994bb3767d9b254d13dd22f00ecf562634889879d980039142e3a1320f0");
                }

                #grad {
                    background-image: url("https://drscdn.500px.org/photo/1112724665/q%3D80_m%3D600/v2?sig=199b56b3c80647ea7d3dc03b853891e7987b78f2f7b0e14e8a1aeed08a1e672e");                
                }

                    #grad1 {
                        background-image: url("https://drscdn.500px.org/photo/1108078633/q%3D80_m%3D600/v2?sig=c6cac1fcb5d66bca014388ef16370cc9699d20f7cf1fe1742755279dd7a3ec7c");                
                    }
        
                    #grad2 {
                        background-image: url("https://drscdn.500px.org/photo/1108655777/q%3D80_m%3D600/v2?sig=133229122202cf1691ac9fdb2fd8934cc2a912be99623e6c4acb7e46d1cba917");                
                    }
        
                    #grad4 {
                        background-image: url("https://drscdn.500px.org/photo/1108655768/q%3D80_m%3D600/v2?sig=c0f3aacae3043e093a3be95ad61a985aa47136377913f2b70ceecf5033a33a1f");                
                    }
        
                    #grad7 {
                        background-image: url("https://drscdn.500px.org/photo/1108655758/q%3D80_m%3D600/v2?sig=44162d46a97d26fa7aa5be0b009d9afc9c84abd4033eaa407d54ba0295b8f8c9");                
                    }

            #career {
                background-image: url('https://drscdn.500px.org/photo/1108078632/q%3D80_m%3D600/v2?sig=bffdb1445fcb58c7d38caa1c67c2adc99eea21b11d6c680f1b74ce6127782d9a');    
            }

                #standard {
                    background-image: url('https://drscdn.500px.org/photo/1108078632/q%3D80_m%3D600/v2?sig=bffdb1445fcb58c7d38caa1c67c2adc99eea21b11d6c680f1b74ce6127782d9a');
                }

                #upgrade {
                    background-image: url('https://drscdn.500px.org/photo/1108540455/q%3D80_m%3D600/v2?sig=6552eacce3718da1f08fa6028268afbda0558fd4c04ca922ba1b63ec5da233e4');
                }

                #level-up {
                    background-image: url('https://drscdn.500px.org/photo/1108540575/q%3D80_m%3D600/v2?sig=5073a18cfb68ab4f4a1aebacfc83681c1bdc44e24504a71fddeef6aff824d4d7');
                }

                #professionalist {
                    background-image: url('https://drscdn.500px.org/photo/1105618182/q%3D80_m%3D600/v2?sig=a5fe47e6700c7056493f25f7f4ff517a16b5e8e2d775a53f455d2d1bd2e15f49');
                }

            #talent {
                background-image: url('https://drscdn.500px.org/photo/1108655718/q%3D80_m%3D600/v2?sig=92d5ef4210fc70c5b6353e2ea82f912d4c5a3945ad97db8d5938dc770e4ca666');    
            }

            #events {
                background-image: url('https://drscdn.500px.org/photo/1108655751/q%3D80_m%3D600/v2?sig=8f09b4f061f41e3ef0755c5d3134188e52cd2e8588b42d402417375a7736ce63');    
            }

                #parties-gatherings {
                    background-image: url('https://drscdn.500px.org/photo/1105618325/q%3D80_m%3D600/v2?sig=aa5700bbff5bb276ff8e99b02b680e4b6ace6597162fd2eecbab4d2546db468d');                    
                }

                #festivals {
                    background-image: url('https://drscdn.500px.org/photo/1109059498/q%3D80_m%3D600/v2?sig=0ebdb16aaef05b4e85577510140aaee5d437a674fdbe8945191fe59128134769');                    
                }

                #weddings-elopements {
                    background-image: url('https://drscdn.500px.org/photo/1108080215/q%3D80_m%3D600/v2?sig=36e5d42518c1ab9e687ae473a7a33ea977654d07a54909174de115da961bbe6b');    
                }

                    #full_day_wedding {
                        background-image: url('https://drscdn.500px.org/photo/1108540764/q%3D80_m%3D600/v2?sig=651266160622f28a68170a0b59cdfc617d0ca13c22e1a2453089dafedd181f88');    
                    }

            #traditional_description {
                background-image: url("https://drscdn.500px.org/photo/1105618187/q%3D80_m%3D600/v2?sig=bdaa14d6192ef129890ce6f1d9b90f3052e6a8899c6f4ce773358ef5b32eb264");                
            }

    .subcat {
        padding: 2em 1em 1em 1em;
        margin: 1.5em 0;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        border: solid black 0.1em;
    }

        .subcat p {
            margin: 0;
            padding: 1em 0;
            font-size: 1.2em;
        }

    #gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 3em 0 3em 0;
        gap: 1em;
        z-index: 0;
    }
    
        .image {
            display: block;
            float: inline-start;
            margin-bottom: 0.8em;
            box-shadow: black 0 0.5em 0.5em;
            border: black solid 0.01em;
            cursor: pointer;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-attachment: scroll;
            background-clip: border-box;
            background-blend-mode:overlay;
            transition: 0.3s ease;
        }
        
            .image:hover {
                transform: scale(1.05);
            }
        
            .popup {
                display: none;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.9);
                justify-content: center;
                align-items: center;
                z-index: 10;
            }
        
            .popup-image {
                border-radius: 0.5em;
                width: 95%;
                max-height: 97vh;
                aspect-ratio: 2 / 3;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        
            .popup.show {
                display: flex;
            }
        
        .h {
            aspect-ratio: 2 / 3;
            width: 38%;
        }
        
        .w {
            aspect-ratio: 3 / 2;
            width: 57%;
        }

        .discount-banner {
            background: linear-gradient(90deg, #ff4e50, #e8b130);
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            color: white;
            text-align: center;
            padding: 1em 0.2em 0.2em 0.2em;
            margin-bottom: 1em;
            font-size: 1.2em;
            font-weight: bold;
          }
    
/*------------- iPad Air & Pro -----------------------*/
@media screen and (min-height: 100px) {

    .description {
        height: 75vh;
    }
        
    .h {
        aspect-ratio: 2 / 3;
        width: 28.5%;
    }
    
    .w {
        aspect-ratio: 3 / 2;
        width: 42.75%;
    }
}

/* ------------- My Samsung Monitor ------------------------*/
@media screen and (min-width: 1000px) {
        
    .h {
        aspect-ratio: 2 / 3;
        width: 19%;
    }
    
    .w {
        aspect-ratio: 3 / 2;
        width: 28.5%;
    }
    
}

@media screen and (max-width: 1000px) {
    .discount-banner {
        margin-top: 2.5em;
    }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    padding: 3em 1.5em 3em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: black;
    color: white;
}

    footer p {
        padding: 0;
    }

    .footer-social_media {
        max-width: 70%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding: 0.5em auto;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }
        
        #footer_home {
            color: white;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    .footer-social_media {
        max-width: 40%;
    }    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    .footer-social_media {
        max-width: 30%;
    }
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    footer {
        padding: 2em 1em;
    }    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    .footer-social_media {
        max-width: 20%;
    }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e8b130;
    border-radius: 10px;
    box-shadow: 0 0 10px #e8b130;
    transition: box-shadow 0.8s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 20px #e8b130;
  }

/*---------------------- PRINTING -------------------------------*/
@media print {
    body {
        display: none !important;
    }
}