/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: black;
}

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 30%;
    background-color: white;
    color: black;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 30%;
    background-color: white;
    color: black;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    .btn:link, .btn:visited, .btn:active {
        background-color: white;
        color: black;
    }

    .btn:hover {
        background-color: white;
        color: #E8B130;
    }

}

@media screen and (min-width: 1200px) {
    main {
        width: 100vw;
        margin: 0;
    }
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 1vh 0 0 0;
    text-align: center;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-bottom: white 0.1em solid;
    z-index: 10;
    background-color: black;
    width: 100vw;
    color: white;
}

    #header-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 100%;
        align-content: space-around;
    }

        #sig-box {
            display:block;
        }

            .sig {
                position: relative;
                max-height: 3em;
                margin: 0 0 0.1em 0;
            }

        header h1 {
            color: white;
            font-size: 2em;
            padding: 0.2em;
            margin-top: 0.2em;
            border-top: 0.01em solid white;
        }

    #header-back {
        background-color: black;
        position: absolute;
        bottom: 60%;
        left: 3%;
        border: white solid 0.1em;
        color: white;
    }

    #schedule-btn {
        background-color: black;
        position: absolute;
        bottom: 60%;
        right: 3%;
        border: white solid 0.1em;
        color: white;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
        #header-back {
            color: white;
        }
    
        #schedule-btn {
            color: white;
        }
    
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
}

    .main_category {
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; 
        align-items: center;
        border-left: dashed 0.5em black;
        border-right: dashed 0.5em black;
    }

    .specific_category {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 2em 0;
        max-width: 40ch;
    }    
        
    .specific_category a:link a:visited, a:hover, a:active {
        color: white;
        text-decoration: none;
        border: none;
    }

        .description {
            height: 55vh;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-content: space-between;
            padding: 1em;
            box-shadow: black 0px 0px 30px;
            border-radius: 0.5em;
            font-size: 1.1em;
            color: white;
            background-color: hsla(100, 100%, 0%, 0.7);
            background-image: url("https://drscdn.500px.org/photo/1102901111/q%3D80_m%3D600/v2?sig=7066590d22869f2406abb0dfa6915dac4ac32ea1cef3fa6ca47ba7974227a5e2");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-attachment: scroll;
            background-clip: border-box;
            background-blend-mode:overlay;
        }

            .description span {
                display: block;
                color: white;
                font-size: 1.5em;
                text-transform: uppercase;
                font-weight: bold;
            }

            .description:hover {
                transform: scale(1.05);
            }

            #trad {
                background-image: url("https://drscdn.500px.org/photo/1105618184/q%3D80_m%3D600/v2?sig=44cda1db5e11a7c5ba912d8e2ec0ab2a761cd258a564f1aa4d6f861722762aec");                
            }

            #mini {
                background-image: url("https://drscdn.500px.org/photo/1108078237/q%3D80_m%3D600/v2?sig=8c77b348e15daf7a0e80d7f05deb7a44469e14cd36b9446ed88a6e27efe6ee8c");                
            }

            #grad {
                background-image: url("https://drscdn.500px.org/photo/1108078633/q%3D80_m%3D600/v2?sig=c6cac1fcb5d66bca014388ef16370cc9699d20f7cf1fe1742755279dd7a3ec7c");                
            }

            #grad1 {
                background-image: url("https://drscdn.500px.org/photo/1108078638/q%3D80_m%3D600/v2?sig=576012f105269863f588d2231856daf299ce4d0d18ca4989a32129447c0f262b");                
            }

            #grad2 {
                background-image: url("https://drscdn.500px.org/photo/1108079861/q%3D80_m%3D600/v2?sig=6902964c7c4232ad0d6b7a689abea9601ce9ca4364b935c09f5208c5145c2907");                
            }

            #grad4 {
                background-image: url("https://drscdn.500px.org/photo/1108078636/q%3D80_m%3D600/v2?sig=cddaf02e859fa1b160f6f548bf4c923dac88e28a06357a4d9c391f2ae0b40e7f");                
            }

            #grad7 {
                background-image: url("https://drscdn.500px.org/photo/1108078635/q%3D80_m%3D600/v2?sig=4a339b18ca90824c88c6ea9ed336319446c66503353e9f2a831643069927364e");                
            }

            #traditional_description {
                background-image: url("https://drscdn.500px.org/photo/1105618187/q%3D80_m%3D600/v2?sig=bdaa14d6192ef129890ce6f1d9b90f3052e6a8899c6f4ce773358ef5b32eb264");                
            }

    .subcat {
        padding: 0;
        margin: 1.5em 0;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        border: solid black 0.1em;
        border-radius: 0.5em;
    }

        .subcat p {
            margin: 0;
            padding: 1em 0.5em;
        }

        #line {
            background-color: black;
            height: 0.1em;
        }

    #gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 3em 0 3em 0;
        gap: 1em;
        z-index: 0;
    }
    
        .image {
            display: block;
            float: inline-start;
            margin-bottom: 0.8em;
            box-shadow: black 0 0.5em 0.5em;
            border: black solid 0.01em;
            cursor: pointer;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-attachment: scroll;
            background-clip: border-box;
            background-blend-mode:overlay;
            transition: 0.3s ease;
        }
        
            .image:hover {
                transform: scale(1.05);
            }
        
            .popup {
                display: none;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 85%;
                background-color: rgba(255, 255, 255, 0.9);
                justify-content: center;
                align-items: center;
                z-index: 8;
            }
        
            .popup-image {
                border-radius: 0.5em;
                width: 80%;
                aspect-ratio: 2 / 3;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        
            .popup.show {
                display: flex;
            }
        
        .h {
            aspect-ratio: 2 / 3;
            width: 38%;
        }
        
        .w {
            aspect-ratio: 3 / 2;
            width: 57%;
        }
    
/*------------- iPad Air & Pro -----------------------*/
@media screen and (min-height: 1100px) {
    .description {
        max-height: 40vh;
    }
        
    .h {
        aspect-ratio: 2 / 3;
        width: 28.5%;
    }
    
    .w {
        aspect-ratio: 3 / 2;
        width: 42.75%;
    }

    .popup {
        height: 90%;
    }

    .popup-image {
        max-height: 50%;
    }
}

/* ------------- My Samsung Monitor ------------------------*/
@media screen and (min-width: 1000px) {
        
    .h {
        aspect-ratio: 2 / 3;
        width: 19%;
    }
    
    .w {
        aspect-ratio: 3 / 2;
        width: 28.5%;
    }
    
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

footer {
    padding: 3em 1.5em 3em 1.5em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: black;
    color: white;
}

    footer p {
        padding: 0;
    }

    .footer-social_media {
        max-width: 70%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 1em 0;
        align-content: center;
        font-size: 1.1em;
        border-top: 0.2em white solid;
        border-bottom: 0.2em white solid;
        border-radius: 1em 0;
    }
    
        .footer-social_media i {
            padding: 0.5em auto;
            color: white;
            font-size: 1.5em;
            margin: 0.5em 0.2em;
        }
        
        .footer-social_media i:link, .header-social_media i:visited, .header-social_media i:active{
            cursor:pointer;
            color: white;
        }
        
        .footer-social_media i:hover{
            cursor:pointer;
            color: #E8B130;
        }
        
        #footer_home {
            color: white;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    .footer-social_media {
        max-width: 40%;
    }    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    .footer-social_media {
        max-width: 30%;
    }
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    footer {
        padding: 2em 1em;
    }    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    .footer-social_media {
        max-width: 20%;
    }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

::-webkit-scrollbar {
    width: 0.5em;
    background: black; 
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #e8b130;
    background-image: -webkit-linear-gradient(
        20deg, 
        rgba(255,255,255,.8) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255,255,255,.8) 50%, 
        rgba(255,255,255,.8) 75%, 
        transparent 75%
    );
    border-radius: 0.5em;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #d9a020;
}

/*---------------------- PRINTING -------------------------------*/
@media print {
    body {
        display: none !important;
    }
}