/*WORKFLOW ?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
    1. BIG IDEA CONCEPT
    2. AUDIENCE TO TARGET
    3. RESEARCH
    4. UI DESIGN IDEAS
        > COLOR PALETTE & TYPOGRAPHY
            > COLOR BLINDNESS
        > MOBILE-FIRST DESIGN
    5. DESIGN PROCESS
        A. GENERAL SETTINGS
            a. MOBILE -> ENORMOUS
        B. HEADER
            a. MOBILE -> ENORMOUS
        C. FOOTER
            a. MOBILE -> ENORMOUS
        D. MAIN
            a. MOBILE -> ENORMOUS
    6. SHOW PEOPLE. TAKE NOTES.
    7. IMPLEMENT WHAT YOU LEARNED
    8. ADD NEW IDEAS
?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    overflow-y: hidden;
    cursor: default;
}

#cover {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    z-index: 5;
    opacity: 70%;
}

#slideshow {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slideshow 20s infinite;
    transition: background-image 0.25s ease-in-out;
}

    /* Animation keyframes to switch between images */
    @keyframes slideshow {
        0% /*Gradient Horizon*/ { background-image: url('https://drscdn.500px.org/photo/1105280310/q%3D80_m%3D600/v2?sig=9cb3d4bd383a30dc605757f4a31d2b5b3cc0c4fb9c7f917cf42e8205709e2924'); }
        10% /*Rainbow's Embrace*/ { background-image: url('https://drscdn.500px.org/photo/1105613666/q%3D80_m%3D600/v2?sig=067f021598adc64c6e580b03db9ff0e23f11da725929e5791886f7aa113df0ef'); }
        20% /*Resting Majesty*/ { background-image: url('https://drscdn.500px.org/photo/1105613670/q%3D80_m%3D600/v2?sig=3f6309bd7536163046de9a86732178266a725d45cc1c06691c7ad15c4b461287'); }
        30% /*Reaching for the Sky*/ { background-image: url('https://drscdn.500px.org/photo/1105613741/q%3D80_m%3D600/v2?sig=728e4597fafb7a48be1e4b9170d838ad8693ec43ed1677c564851a0ef90b8d7a'); }
        40% /*Lucie*/ { background-image: url('https://drscdn.500px.org/photo/1105618183/q%3D80_m%3D600/v2?sig=0d3896bfc73b1297ab05482e7c2e69b58259d3845a2d66ed454bf13ae79d7b0f'); }
        50% /*Oriet*/ { background-image: url('https://drscdn.500px.org/photo/1105618187/q%3D80_m%3D600/v2?sig=bdaa14d6192ef129890ce6f1d9b90f3052e6a8899c6f4ce773358ef5b32eb264'); }
        60% /*Alex*/ { background-image: url('https://drscdn.500px.org/photo/1105618182/q%3D80_m%3D600/v2?sig=a5fe47e6700c7056493f25f7f4ff517a16b5e8e2d775a53f455d2d1bd2e15f49'); }
        70% /*Madeline*/ { background-image: url('https://drscdn.500px.org/photo/1105618328/q%3D80_m%3D600/v2?sig=42f4ff4a58eda73f8a25eee13ef2ba960d9844961c0dc79dff32614fcbebe392'); }
        80% /*Downtime*/ { background-image: url('https://drscdn.500px.org/photo/1105618325/q%3D80_m%3D600/v2?sig=aa5700bbff5bb276ff8e99b02b680e4b6ace6597162fd2eecbab4d2546db468d'); }
        90% /*J Creek Cloggers*/ { background-image: url('https://drscdn.500px.org/photo/1105618188/q%3D80_m%3D600/v2?sig=9a0595f353d39453c2aa36dd316006539bce13c9409712b648e7bfe676ad4708'); }
        100% /* Same as start! */{ background-image: url('https://drscdn.500px.org/photo/1105280310/q%3D80_m%3D600/v2?sig=9cb3d4bd383a30dc605757f4a31d2b5b3cc0c4fb9c7f917cf42e8205709e2924'); }
    }

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0.2em;
    border: none;
    font-size: 1.1em;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    .btn:link, .btn:visited, .btn:active {
        background-color: black;
        color: white;
    }

    .btn:hover {
        background-color: black;
        color: #E8B130;
    }

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    #slideshow {
        animation: slideshow 20s infinite;
    }

    /* Animation keyframes to switch between images */
    @keyframes slideshow {
        0% /*Gradient Horizon*/ { background-image: url('https://drscdn.500px.org/photo/1105613671/q%3D80_m%3D600/v2?sig=4b6c2bde352fa86a0420604afa22bcec1f9c9e5fe90c77c161eae108121e50fb'); }
        10% /*Peak Autumn Vibrance*/ { background-image: url('https://drscdn.500px.org/photo/1105615248/q%3D80_m%3D600/v2?sig=52646cfb466eb612823f61d153426d3cf102771295a1ecb7e447c3e528888459'); }
        20% /*Semipalmated Plover*/ { background-image: url('https://drscdn.500px.org/photo/1105613675/q%3D80_m%3D600/v2?sig=d2fd3093043c180a70c9dd775e815102ca87b3d41f7e2019d7a3f539126642e9'); }
        30% /*Intergalactic Explosion*/ { background-image: url('https://drscdn.500px.org/photo/1105613734/q%3D80_m%3D600/v2?sig=ecb8825f199d129d7319674eaec92f715c0ee827abc2d516621ce7ad5a30e830'); }
        40% /*Lucie*/ { background-image: url('https://drscdn.500px.org/photo/1105618184/q%3D80_m%3D600/v2?sig=44cda1db5e11a7c5ba912d8e2ec0ab2a761cd258a564f1aa4d6f861722762aec'); }
        50% /*Oriet*/ { background-image: url('https://drscdn.500px.org/photo/1105618185/q%3D80_m%3D600/v2?sig=6abefefb84cac815c5c306d04525dff2c12de583570355141740847d5507deeb'); }
        60% /*Alex*/ { background-image: url('https://drscdn.500px.org/photo/1105618186/q%3D80_m%3D600/v2?sig=5770248a93f40ab1ddf437abf246acd007441a19aed98b197639fd86ad3a87ea'); }
        70% /*Madeline*/ { background-image: url('https://drscdn.500px.org/photo/1105618327/q%3D80_m%3D600/v2?sig=dccbe0734ba79df0b17f5fe6d13fe26fab393f01798b58cb1fca20e213985d7f'); }
        80% /*Downtime*/ { background-image: url('https://drscdn.500px.org/photo/1105618326/q%3D80_m%3D600/v2?sig=ea25d7702274d9d0a73e28721363da4e7897651ff4f643b372374c2cb41bd67f'); }
        90% /*THS Marching Band*/ { background-image: url('https://drscdn.500px.org/photo/1105618190/q%3D80_m%3D600/v2?sig=1078c69fdd0c16d6da065d9211a0da0d7ea94ef3326414ae0542bfdfa461cc58'); }
        100% /* Same as start! */ { background-image: url('https://drscdn.500px.org/photo/1105613671/q%3D80_m%3D600/v2?sig=4b6c2bde352fa86a0420604afa22bcec1f9c9e5fe90c77c161eae108121e50fb'); }
    }
    
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/

@media screen and (min-width: 992px) {

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {
    
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    color: white;
    width: 90%;
    z-index: 8;
    position: fixed;
    overflow-y: hidden;
    margin: 3em 0 0 0;
    top: 0;
    border-left: solid white 0.05em;
    font-size: 1.2em;
}

    .sig-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        height: 8em;
    }

        .sig {
            max-height: 3em;
            margin-bottom: 0.5em;
        }

        .sig-box h1 {
            padding: 0;
        }

        .sig-box h2 {
            padding: 0;
        }

        .sig-box p {
            padding: 0;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    header {
        border-left: solid white 0.1em;
        margin-top: 2em;
    }

    .sig-box {
        padding: 0 0 0 1em;
    }
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .sig-box {
        margin-bottom: 3em;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

        .sig {
            max-height: 3em;
        }

}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) and (max-height: 1366px){
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

#menu-button-container {
    display: none;
}

.navbar {
    left: 0;
    padding: 0;
    z-index: 9;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
}

.navbar-collapse {
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    text-align: center;
}

    .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active{
        color: white;
        text-align: left;
        margin: 0.5em 0 0.5em 0;
        padding: 0 0 0 0;
        max-width: 50%;
    }

/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active {
        font-size: 0.9em;
    }
        
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

.footer {
    width: 90%;
    color: white;
    position: fixed;
    right: 8vw;
    bottom: 0;
    font-size: 0.9em;
    margin-bottom: 5vh;
    padding: 0;
    z-index: 8;
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1em 0 1em;
}

    .footer-info p {
        padding: 0;
        margin: 0;
        text-align: right;
    }

.footer-button {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.footer-social_media {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-size: 1.1em;
    border-left: 0.1em white solid;
    padding: 0 0.5em 0 0;
}

    .footer-social_media i {
        padding: 0.25em 0.75em 0.25em 0.75em;
        color: white;
        font-size: 1.5em;
        margin: 0.2em 0.5em;
    }

    .footer-social_media a {
        text-align: center;
    }
  
    .footer-social_media i:link, .footer-social_media i:visited, .footer-social_media i:active{
        cursor:pointer;
        color: white;
    }
    
    .footer-social_media i:hover{
        cursor:pointer;
        color: #E8B130;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
        
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
    .footer-content {
        justify-content: flex-start;
    }

    .footer-info {
        justify-content: flex-start;
        text-align: left;
    }

    .footer-social_media {
        justify-content: center;
    }

}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    .footer-info {
        justify-content: flex-start;
        text-align: left;
    }

    .footer-social_media {
        justify-content: center;
    }

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    .footer {
        width: 50%;
        right: 0;
        top: 2em;
        bottom: initial;
    }    
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
html {
    height: 100%;
}

html::-webkit-scrollbar {
    width: 10px;
    background: black;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background:#E8B130;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background: black;
}

/*---------------------- PRINTING -------------------------------*/
@media print {
    body {
        display: none;
    }
}








