/*WORKFLOW ?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
    1. BIG IDEA CONCEPT
    2. AUDIENCE TO TARGET
    3. RESEARCH
    4. UI DESIGN IDEAS
        > COLOR PALETTE & TYPOGRAPHY
            > COLOR BLINDNESS
        > MOBILE-FIRST DESIGN
    5. DESIGN PROCESS
        A. GENERAL SETTINGS
            a. MOBILE -> ENORMOUS
        B. HEADER
            a. MOBILE -> ENORMOUS
        C. FOOTER
            a. MOBILE -> ENORMOUS
        D. MAIN
            a. MOBILE -> ENORMOUS
    6. SHOW PEOPLE. TAKE NOTES.
    7. IMPLEMENT WHAT YOU LEARNED
    8. ADD NEW IDEAS
?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    overflow-y: hidden;
}

#cover {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    z-index: 5;
    opacity: 70%;
}

#slideshow {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slideshow 50s infinite;
    transition: background-image 0.25s ease-in-out;
}

    /* Animation keyframes to switch between images */
    @keyframes slideshow {
        0%    { background-image: url('/photography/Portraits/20200727-Lucie_Patten-5.jpg'); }
        5.88%  { background-image: url('/photography/Portraits/20200820-Oriet_Hemenway-19.jpg'); }
        11.76% { background-image: url('/photography/Portraits/20191114-Downtime-3.jpg'); }
        17.64% { background-image: url('/photography/Portraits/20231104-Blue_Dragon_TKD-2.jpg'); }
        23.52% { background-image: url('/photography/Portraits/20240911-Marching_Bands-7.jpg'); }
        29.41% { background-image: url('/photography/Portraits/20191125-Joe_Figliolo-3.jpg'); }
        35.29% { background-image: url('/photography/Portraits/20240407-J_Creek_Cloggers-4.jpg'); }
        41.17% { background-image: url('/photography/Portraits/20191204-Alex_Baker-2.jpg'); }
        47.05% { background-image: url('/photography/Portraits/20191116-Kelly_Connelly-4.jpg'); }
        52.94% { background-image: url('/photography/Portraits/20191202-Madeline_Yara-2.jpg'); }
        58.82% { background-image: url('/photography/Life_Landscapes/Ripples_of_Dawn.jpg'); }
        64.70% { background-image: url('/photography/Creations/Reaching_for_the_Sky.jpg'); }
        70.58% { background-image: url('/photography/Life_Landscapes/Black_and_White.jpg'); }
        76.47% { background-image: url('/photography/Life_Landscapes/American_Bald_Eagle.jpg'); }
        82.35% { background-image: url('/photography/Creations/The_Old_Well_in_Radiance.jpg'); }
        88.23% { background-image: url('/photography/Creations/The_Bell_Tower.jpg'); }
        94.11% { background-image: url('/photography/Life_Landscapes/Rainbows_Embrace.jpg'); }
        100%  { background-image: url('/photography/Life_Landscapes/.jpg'); }
    }

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0.2em;
    border: none;
    font-size: 1.1em;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    .btn:link, .btn:visited, .btn:active {
        background-color: black;
        color: white;
    }

    .btn:hover {
        background-color: black;
        color: #E8B130;
    }

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    #slideshow {
        animation: slideshow 75s infinite;
    }

    @keyframes slideshow {
        0%     { background-image: url('/photography/Portraits/20200820-Oriet_Hemenway-11.jpg'); }
        4.55%  { background-image: url('/photography/Portraits/20200727-Lucie_Patten-4.jpg'); }
        9.09%  { background-image: url('/photography/Portraits/20191203-Kathryn_Henrikson-2.jpg'); }
        13.64% { background-image: url('/photography/Portraits/20191202-Madeline_Yara-1.jpg'); }
        18.18% { background-image: url('/photography/Portraits/20190929-Marcus_Richardson-3.jpg'); }
        22.73% { background-image: url('/photography/Portraits/20191204-Alex_Baker-1.jpg'); }
        27.27% { background-image: url('/photography/Portraits/20231104-Blue_Dragon_TKD-5.jpg'); }
        31.82% { background-image: url('/photography/Portraits/20191121-Downtime-4.jpg'); }
        36.36% { background-image: url('/photography/Portraits/20240601-Ryan_Mooney-2.jpg'); }
        40.91% { background-image: url('/photography/Portraits/20240407-J_Creek_Cloggers-6.jpg'); }
        45.45% { background-image: url('/photography/Portraits/20240911-Marching_Bands-6.jpg'); }
        50%    { background-image: url('/photography/Portraits/20240831-Marching_Bands-1.jpg'); }
        54.55% { background-image: url('/photography/Creations/White_Gold.jpg'); }
        59.09% { background-image: url('/photography/Life_Landscapes/Illuminated_Faith.jpg'); }
        63.64% { background-image: url('/photography/Life_Landscapes/Beauty_and_Grace.jpg'); }
        68.18% { background-image: url('/photography/Life_Landscapes/Rivers_Rhythm.jpg'); }
        72.73% { background-image: url('/photography/Life_Landscapes/Mooney_Falls_in_Motion.jpg'); }
        77.27% { background-image: url('/photography/Creations/Shadowed_Path.jpg'); }
        81.82% { background-image: url('/photography/Life_Landscapes/Tranquility.jpg'); }
        86.36% { background-image: url('/photography/Life_Landscapes/Fryingpans_Warmth.jpg.jpg'); }
        90.91% { background-image: url('/photography/Echoes_of_the_Crash.jpg'); }
        95.45% { background-image: url('/photography/Life_Landscapes/Zebras_Distinctive_Stripes.jpg'); }
        100%   { background-image: url('/photography/Life_Landscapes/Whimsy_in_the_Marsh.jpg.jpg'); }
    }
    
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/

@media screen and (min-width: 992px) {

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {
    
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

header {
    color: white;
    width: 90%;
    z-index: 8;
    position: fixed;
    overflow-y: hidden;
    margin: 3em 0 0 0;
    top: 0;
    border-left: solid white 0.05em;
    font-size: 1.2em;
}

    .sig-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        height: 6.5em;
    }

        .sig {
            max-height: 3em;
        }

        .sig-box p {
            padding: 0;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    header {
        border-left: solid white 0.1em;
        margin-top: 2em;
    }

    .sig-box {
        padding: 0 0 0 1em;
    }
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .sig-box {
        margin-bottom: 3em;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

        .sig {
            max-height: 4em;
        }

        .sig-box p {
            font-size: 1.2em;
        }

}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    .sig {
        max-height: 5em;
    }

    .sig-box p {
        font-size: 1.5em;
    }
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

#menu-button-container {
    display: none;
}

.navbar {
    left: 0;
    padding: 0;
    z-index: 9;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
}

.navbar-collapse {
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    text-align: center;
}

    .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active{
        color: white;
        text-align: left;
        margin: 0.5em 0 0.5em 0;
        padding: 0 0 0 0;
        max-width: 50%;
    }

/*
/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    /* no adjustments needed*/
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active {
        font-size: 1.2em;
    }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active {
        font-size: 1.5em;
    }

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active{
        width: 40%;
    }    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {
    /*no additional edits*/
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

.footer {
    width: 90%;
    color: white;
    position: fixed;
    right: 8vw;
    bottom: 0;
    font-size: 0.9em;
    margin-bottom: 5vh;
    padding: 0;
    z-index: 8;
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1em 0 1em;
}

    .footer-info p {
        padding: 0;
        margin: 0;
        text-align: right;
    }

.footer-button {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.footer-social_media {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-size: 1.1em;
    border-left: 0.1em white solid;
    padding: 0 0.5em 0 0;
}

    .footer-social_media i {
        padding: 0.25em 0.75em 0.25em 0.75em;
        color: white;
        font-size: 1.5em;
        margin: 0.2em 0.5em;
    }

    .footer-social_media a {
        text-align: center;
    }
  
    .footer-social_media i:link, .footer-social_media i:visited, .footer-social_media i:active{
        cursor:pointer;
        color: white;
    }
    
    .footer-social_media i:hover{
        cursor:pointer;
        color: #E8B130;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
        
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
    .footer-content {
        justify-content: flex-start;
    }

    .footer-info {
        justify-content: flex-start;
        text-align: left;
        font-size: 1.2em;
    }

    .footer-social_media {
        justify-content: center;
        font-size: 1.2em;
    }

}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    .footer-info {
        justify-content: flex-start;
        text-align: left;
        font-size: 1.8em;
    }

    .footer-social_media {
        justify-content: center;
        font-size: 1.8em;
    }

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    .footer {
        width: 50%;
        right: 0;
        top: 2em;
        bottom: initial;
    }    
}
/*[END] -------- ENORMOUS SCREENS (COL-XXL-) ----------------------*/
@media screen and (min-width: 1400px) {
    /*no additional edits needed*/
}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
html {
    height: 100%;
}

html::-webkit-scrollbar {
    width: 10px;
    background: black;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background:#E8B130;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background: black;
}

/*---------------------- PRINTING -------------------------------*/
@media print {
    body {
        display: none;
    }
}








